.THIS .cardStyle {
    background: #005fb2;
}

.THIS .outtextStyle{
    font-size:14px; 
    color:#000000;
}

.THIS .inputTextStyle{
    font-size:14px; 
    color:#005fb2;
}

.THIS .preview{
    margin-bottom:0px;
}


.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:center;
    width:100px;
}

.THIS .thTextStyle{
    white-space:pre-wrap; 
    color:#005fb2;
    font-size:13px; 
    text-align:center;
    word-wrap:break-word;
    width:100px;
}

.THIS .calcStyle {
    margin-top: 5px;
    text-align: left;
    font-size:14px; 
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding-left:10%;
}

.THIS .marginUp {
    margin-top:-20px;
}