.THIS a{
    color:#000 !important;
}
.THIS a:hover{
    text-decoration : none !important;
}
.THIS .uiButton--default .label{
    color:#fff !important;
}
@media screen and (min-width: 800px) {
    .THIS .slds-page-header{
        width: 80%;
        margin: 15px auto;
        border: 1px solid rgb(216, 221, 230) !important;
    }
    
    .THIS .mobile-only{
        display:none;
    }
    .THIS .box{
        background-color:#fff !important;
        width:80% !important;
        border :1px solid #DFDFDF;
        margin:2em auto;
        padding : 17px 20px 20px;
        -webkit-box-shadow: 4px 4px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 4px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 4px 4px 14px -5px rgba(0,0,0,0.75);
        z-index:1000;
    }
    
    .THIS .box:hover{
        background-color :#eff3fa;
    }
    
    .THIS .box-image{
        width: 15em;
        
    }
    
    .THIS .box-image>img{
        height:200px;
        width:200px;
        border: 1px solid #dfdfdf;
    }
    
    .THIS .box h2{
        font-size: 1.25em;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 9px;
    }
    .THIS .box .info-box{
        background: #eff3fa;
        border: 1px solid #dfdfdf;
        font-size: 1.167em;
        line-height: 1.286em;
        margin-bottom: 15px;
        padding: 12px 15px 13px;
    }
    
    .THIS .bottom-btn-container{
        display:none;
    }
    
    
    
}
@media screen and (max-width: 800px) {
    .THIS .box{
        margin-top:1em;
    }
	.THIS .SLDS{
        width: 50% !important;
        padding:auto !important;
        background: #eff3fa;
    }    
    .THIS .box-image{
        width: 100%
    }
    
    .THIS .box-image>img{
        height:200px;
        width:100%;
    }
    
    .THIS .box h2{
        font-size: 1.25em;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 9px;
    }
    .THIS .box .info-box{
        background: #eff3fa;
        border: 1px solid #dfdfdf;
        font-size: 1.167em;
        line-height: 1.286em;
        margin-bottom: 15px;
        padding: 12px 15px 13px;
    }
    
    .THIS .bottom-btn-container{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em;
        margin-top:10px;
    }
    .THIS .btn-full{
        width:100% !important;
        height:100% !important;
    }
    
    .THIS .resultData{
        margin-bottom : 4em !important;
    }
}
.THIS .info>li{
    display : inline;
    margin-right: 1em;
}
.THIS a{
    color:#1543AA;
}


.THIS .box>.box-title{
    font-weight:bold;
}

.THIS .slds{
    overflow-y: scroll;
}