.THIS .button{
    background-color:#ff6a00;
    Width:90%;
}

.THIS .contact-us{
  /*  margin-top: 2rem;*/
}
.THIS .tableTitle {
    color : #28a6e0;
    font-weight:600;
    font-size:16px;
    
}
.THIS .boxBgColor{
    background-color: white
}
.THIS .sectionTitle{
    border-bottom:#ff6a00 1px solid;
    color:#ff6a00;
    font-weight:600;
    font-size:16px
}

/* This css is for button size in lightning datatable*/
.THIS .scaled-down button {
    height: 1.3rem;
    width: 1.5rem;
}

.THIS .odd-even tr:nth-child(odd){ 
    background-color: #efefef ;
    /* #c5d5f0*/
}
/*  Define the background color for all the EVEN background rows  */
.THIS .odd-even tr:nth-child(even){
    background-color: white;
}

/*
.THIS .billing-overview-tbl tbody tr:last-child div{
	font-weight: 800;
}*/
.THIS .boxBgColor{
    background-color: white
}
.THIS .cstm-box{
    height: 118px;
    width:80%; 
    font-weight:600;
    margin:auto;
    text-align : center;
}
.THIS .slds-button {
	color: grey;
}


.THIS .box-val{
    
    color: rgb(71, 87, 128);
    font-size:26px;
}
.THIS .customHeadingFont{
    font-size: 16px;
}
@media screen and (max-width: 800px) {
    .THIS .contact-us {
        margin-top: 0;
    }
}