.THIS {
}

.THIS .titleStyle {
    padding-left:5px; 
    margin-bottom:15px;
	font-family: Salesforce Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.THIS .custom .slds-form-element__icon .slds-button_icon {
    color: #C6C5C4;
}

H1.THIS {
    font-size: 18pt;
}

.THIS .headercolor{
    background-color: darkgray;
}
.THIS .custom-background {
    background-color: red;
}
.THIS .box{
    width:50px;
}

.THIS .box input { 
    text-align: center;
}

.THIS .cardStyle {
    /*background: #0A61AE; 
    background: #0A61AE; */
}

.THIS .popupstyle {
    border-radius: 5px;
    border: 1px solid #0A61AE;
    padding-right: 20px; 
    padding-left: 20px; 
    padding-bottom: 20px; 
    padding-top: 10px; 
    background: #ffffff;
}

.THIS .popupClass {
    z-index: 9000 !important;
}

.THIS .icnFlip svg {
    fill : #ffffff;
    vertical-align: top !important;
}
.THIS .icnFlip{
    background-color:#0A61AE;
    vertical-align: top !important;
} 
.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}

.THIS .icn_align { 
    vertical-align: middle;
}

.THIS .spacing{
    padding-bottom:5px;
}
.THIS .spacingDom{
    padding-bottom:6px;
}
.THIS div.slds-form-element__icon {
    display: inline-block;
    position: relative;
    padding-left: 2px;
    /* vertical-align: top; */
    line-height: 1;
    z-index: 1;
}

.THIS div.slds-form-element__icon.slds-align-middle {
     vertical-align: middle; 
     align-self: center; 
}

.THIS .uiInput--input.input{
    min-height: 0;
}
.THIS .multiple {
    height:90px;
}

.THIS .inputTextStyle{
    font-size:12px; 
    color:#005fb2;
    word-break: normal;
    width:120px;
}

.THIS .separatorStyle {
	height:1px; 
    background:#F4F3F3;
    padding:3px;
}

.THIS .bg {
    background-color: #ffffff;
    color:#005fb2; 
    font-size:13px; 
    text-align:left;
}

.THIS .inputBoxStyle{
    font-size:12px; 
    width:170px;
}

.THIS .popup {
    text-align:center;  
    z-index:1; 
    overflow-y:auto; 
    max-height:400px;
}

.THIS .custom .slds-table td {
    white-space: inherit;
}

.THIS .slds-form-element__label {
    hyphens: none;
}

.THIS .filterStyle {
    position: absolute;
    bottom: 0;
    width: 100%;
}
