.THIS .button {
    
  border: none;
  color: white;
  padding: 10px 32px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  Width : 16rem !important;
  margin-bottom : 10px;

}

.THIS .align-right{
    text-align : right;
}

.THIS .align-center{
    text-align : center;
}

.THIS .slds-form-element__label{
    display : none !important;
}

.THIS .disable-btn{
    background-color : #475780 !important;
}

.THIS table {
    table-layout: fixed;
}

.THIS .title{
    color:#475780;
    font-weight:600;
}

.THIS textarea{
    height : 150px;
}

.THIS lightning-datepicker table tr{
    background-color:white !important;
}

.THIS table tr:nth-child(odd){ 
    background-color: #efefef ;
}
/*  Define the background color for all the EVEN background rows  */
.THIS table tr:nth-child(even){
    background-color: white;
} 

.THIS .shift-left{
    padding-left:3rem !important;
}

@media screen and (max-width: 768px) {
    .THIS .align-right {
        text-align : center;
    }
}