@media screen and (min-width: 800px) {
    .THIS .slds-page-header{
        width:80% !important;
        margin:15px auto;
        border: 1px solid rgb(216, 221, 230) !important;
    }
    .THIS .box-container{
        width:80% !important;
        margin:15px auto;
    }
    .THIS .box img{
        width:50%;
        display:inline-block !important;
    }
    .THIS .box{
        background-color:#fff ;
        border:1px solid #fff;
        border-radius : 5px;
        padding:15px;
        margin-top:15px;
    }
    .THIS .mobile-only{
        display:none;
    }
    
    .THIS .box-detail{
        display: inline-block;
        height: 100%;
        width: 50%;
        vertical-align: top;
        padding-left:15px;
    }
    
    .THIS .box-detail .box-detail-title{
        font-size:25px;
        text-align:center;
    }
    
    .THIS .box-detail .box-detail-body{
        text-align:center;
        margin-top:10px;
    }
}

@media screen and (max-width: 800px) {
    .THIS{
        
    }
    .THIS .box img{
        width:100%;
    }
    .THIS .mobile-hide{
        display:none;
    }
    .THIS .btn-full{
        width:100%;
        height:100%;
    }
    .THIS .box-detail-title-mobile{
        font-size:25px;
        text-align:center;
        margin : 1.2em 0 1.2em 0;
    }
}

.THIS .bottom-btn-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4em;
}

.THIS .bottom-btn-container span {
    color:#fff !important;
}

.THIS label{
    font-weight:bold !important;
}

.THIS .description{
    font-size:18px;
    background-color : #f1f1f1;
    padding:.05em ;
    text-align:center;
}