.THIS th:last-child, .THIS tr td:last-child {
    width: 60px !important;
}

.THIS .slds-table {
   /* background-color: #696969 !important; */
}

.THIS .tHeader {
    /*background-color: #696969 !important;
    color: white !important; */
}

.THIS .slds-button_icon-container {
    width: 1.5rem !important;
    height: 1.5rem !important;    
    border-radius: 50% !important;
    color: white !important;
}

.THIS .addAssets {
    background: #706E6B !important;
}

.THIS .removeAssets {
    background: #706E6B !important;
}

.THIS .assetTable div {
    height: auto !important;
}

.THIS .slds-table th:focus, 
.THIS .slds-table th.slds-has-focus, 
.THIS .slds-table [role=gridcell]:focus, 
.THIS .slds-table [role=gridcell].slds-has-focus {
    box-shadow: none !important;
}

.THIS tbody {
    display: block;
   /* overflow-y: auto; */
    max-height: 325px;
}

.THIS thead , .THIS tbody tr {
    display: table;
    width: 100%;
    background-color: #fff;
    table-layout: fixed;
}

.THIS .boxStyle {
    background:#F4F3F3;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
}