.THIS .titleStyle {
    font-size:16px; 
    color:#000000; 
    padding-left:5px; 
    margin-bottom:15px; 
    font-weight: bold;
}

.THIS .tdlabelStyle {
    width:120px !important;
}

.THIS .tdInputStyle {
    width: 250px !important;
    min-width: 250px !important;
}

.THIS .tdCenterColumnStyle {
    width: 300px !important;
    min-width: 300px !important;
}

.THIS .tdExtraSpacing {
    min-width: 15px;
}

.THIS .req{
	color:red;   
    font-size:14px;
}

.THIS .resultHeaderStyle{
    font-size:13px; 
    text-align:left;
    font-family: Salesforce Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    color: #514F4D;
}

.THIS .resultTextStyle {
    font-family: Salesforce Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #514F4D;
}

.THIS .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.THIS .filterStyle{
    line-height:2;
    vertical-align:top; 
    padding-left:5px;
    margin-left: 15px;
    padding-bottom:15px;
    border-radius: 0px;
}

.THIS .greenDot {
    background-color:#85C38C;
}

.THIS .blueDot {
    background-color:#3C72C5
}

.THIS .headerFont{
    font-family: Salesforce Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color:#000000; 
    padding-left:5px; 
    margin-bottom:15px; 
}

.THIS .textStyle {
    font-family: Salesforce Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E3E3C;
}

.THIS .divContainer {
    padding:5px; 
    background:#ffffff; 
    overflow-x:auto; 
    width:100%;
}

.THIS .filterTextStyle {
    font-family: Salesforce Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #3E3E3C;
}

.THIS .tdAlign {
    /*vertical-align: top; */
}

.THIS .custom .slds-form-element__icon {
    padding-top: 0px;
    padding-left:2px;
}

.THIS .cardStyle{
    width:fit-content;
}

.THIS .custom .slds-card__header {
    display:none;
}