.lw-light_grey_shade1 {color: #E8E8E8;}
.lw-light_grey_shade2 {color: #F4F3F3;} //table header grey
.lw-light_grey_shade3 {color: #FAFAF9;} //table content grey
.lw-light_blue_shade1 {color: #006DCC;}
.lw-light_blue_shade2 {color: #0070D2;}
.lw-dark_blue_shade1 {background: #224A85;}
.lw-text_color {color: #3E3E3C;}
.lw-red {color: #FFFFFF;}

.lw-box {
	background: #FFFFFF;
	border: 1px solid #DDDBDA;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 5px;
}

.lw-h1  {
	font-family: Salesforce Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.lw-h2 {
	font-family: Salesforce Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	display: flex;
	align-items: center;
	color: #3E3E3C;
}

.lw-background_grey { background-color:#F4F3F3;}

.lw-striped_table tr:nth-child(even) { background-color:#FAFAF9;}
.lw-striped_table tr:nth-child(odd) { background-color:white;}


.lw-overlay-lightning-calendar{
    position:fixed !important;
    z-index: 999 !important;
}
                
.lw-overlay-slds-listbox{
    position: fixed !important;
    z-index: 999 !important;
} 

.toastMessage.forceActionsText{
     white-space : pre-line !important;
}


