.THIS .slds-modal__content {
  overflow-y: hidden !important;
}
.THIS .font_Color {
  color: rgb(0, 109, 204);
}
.THIS .details_Color {
  color: black;
}
.THIS.myChildContainer .slds-modal__container{
    height : 100% !important;
}
.THIS .myChildContainer .slds-modal__content {
    overflow-y: hidden !important;
}