.THIS .innerTbl tr {
    /* border-bottom: 1px dotted #8c8c8c;  */
}
.THIS .tbl tr td {
    height: 28px; 
}
.THIS .innerTbl tr td{
    text-align : center;
}
.THIS .dataDiv{
    position: relative;
}

.THIS .tbl tr:first-child td {
    /*border-bottom: none;*/
}

.THIS .lableTbl tr td{
    text-align : right;
}

.THIS .dataContainer div:nth-child(2n+1).contentDiv {
    /*  background:  #e6e6e6; */
}

.THIS .spanCls{
    padding-left: 65px;
}

.THIS .textAlign{
    text-align : center !important;
}

.THIS .SummaryTblCls{
    border-bottom: 1px dotted #8c8c8c; 
}

.THIS .prospectLabelRow:nth-child(2n+1)  {background-color:#FAFAF9}

.THIS .fieldHeaderRow{
    /* background-color:white; */
}
.THIS .prospectLabelRow:nth-child(2n+2)  {background-color:white}

.THIS .fontBold{
    font-weight : 900;
}

.THIS .contentDiv .slds-form-element__static{
    font-size:13px !important;   
}
.THIS .shrink .slds-form-element__control {
    
    text-overflow: ellipsis !important;
    max-width : 150px;
    /* Required for text-overflow to do anything */
    white-space: nowrap !important;
    overflow: hidden !important;
}

.THIS .truncateContent{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width : 150px;
}

.THIS .defaultHeader{
    border-bottom : 2px solid #808080 !important; 
}

/* This is for alternate coloring on frozen columns when vertical scroll bar is enabled & background color is needed then */

.THIS .innerTbl > tr:nth-of-type(odd) .vertical-col-freeze {
    background: #FAFAF9;
}

.THIS .innerTbl > tr:nth-of-type(even)  .vertical-col-freeze{
     background-color: white;
}


/*  Define the background color for all the ODD background rows  */
.THIS .innerTbl tr:nth-child(odd){ 
    background-color: #FAFAF9 ;
}
/*  Define the background color for all the EVEN background rows  */
.THIS .innerTbl tr:nth-child(even){
    background-color: white;
}
.THIS .innerTbl {
    /*border-right : 1px dotted  #666666;*/
}

.THIS.slds-spinner_container{
    /*background-color:  rgba(8, 7, 7, 0); */
    position: fixed !important;
}
.THIS .customBtn .slds-icon_small {
    
    fill : white;
}

.THIS .col{
    padding-right : 3px;
}

.THIS .msnLink .slds-form-element__static{
    display : inline !important;
    color: rgb(0, 109, 204) !important;
}

.THIS .customMarginLeft {
    margin-left: .5rem !important;
}

.THIS .customHover:hover .editSpan{
    visibility: visible !important;
}

.THIS.slds-spinner_container{
    z-index : 9999 !important;
}

.THIS .borderStyle {
    outline: 1px solid #DDDBDA; 
    border: 1px solid #DDDBDA;
}

.THIS .borderSeperatorStyle {
    border-bottom : 2px solid #808080;
    border-top: 1px solid #DDDBDA;
    border-left: 1px solid #DDDBDA;
    border-right: 1px solid #DDDBDA; 
}

.THIS .bgWhite {
    background-color:white;
}

.THIS .bgGrey {
    background-color:#FAFAF9;
}
.THIS .fixedHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    
}

.THIS .fixedLeftColumn{
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    z-index: 5; 
    min-width:160px;
    display:inline-block;
    background-color:white;
}

.THIS .leftColumnTbl tr{
    border: 1px solid transparent;
}

.THIS .contentDiv{
    min-width:160px;
    max-width:160px;
    display:inline-block;
}

.THIS .myContainer{
    width:100%;
    overflow-x:auto;
    white-space: nowrap; 
    overflow-y: auto; 
    max-height: var(--matrixHeight); 
}

.THIS .bgColorByIndex0{
    background : #95e095; 
}

.THIS .bgColorByIndex1{
    background : #eac37b; 
}

.THIS .bgColorByIndex2{
    background : #c38c9d; 
}

.THIS .bgColorByIndex3{
   background : #b4a1dc; 
}

.THIS .bgColorByIndex4{
    background : #fff987; 
}

@media print {
    .THIS a {
        text-decoration:none;
    }
}