.THIS .noLabelStyle .slds-form-element__label {
    display: none !important;
}
.THIS.slds-spinner_container{
    background-color: transparent !important;
}
.THIS .amountAppliedValMsg{
    color: #c23934;
}

.THIS.lw_header {
    background-color: #1b5297;
    color: #ffffff;
}