.THIS .ftaibtn {
    margin: .4em;
    padding: 2em 10em 2em 2em;
    cursor: pointer;
    background: #f36b21;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
	width:80%;
    z-index : 38;
}


.THIS .ftaibtn .s1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    margin: 0 30px 0px 0;
}

.THIS .ftaibtn .s2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin: 0 30px 0px 0;
    position: absolute;
    right:20px;
    top: 40%;
}

.THIS .ftaibtn .s3 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 30px 0 0;
    position: absolute;
    /*right: 0;*/
    top: 40%;
    display: none;
}
.THIS .cstm-box{
    height: 125px;
    margin:2%; 
    font-weight:600;
    text-align : center;
}
.THIS .box-val{
    
    color:#ff6a00;
    font-size:26px;
}
.THIS .boxBgColor{
    background-color: white
}
.THIS .fa_icon {
    width: 15px;
    right: 0px;
    position: absolute;
    margin: 0 30px 0 0;
    top: 40%;
}
.THIS .ftaibtn .num {
    font-size: 106px;
    position: absolute;
    left: -5px;
    top: -40px;
    opacity: 0.1;
    font-weight: 800;
}
.THIS .hvr-sweep-to-right:hover .s3 { display: block; }

.THIS .hvr-sweep-to-right:hover .s2 { display: none; }

.THIS .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.THIS .hvr-sweep-to-right:before {
    content: " ";
    position: absolute;
   	font-size: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #367fa8;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.THIS .hvr-sweep-to-right:hover{
    color: white;
}

.THIS .hvr-sweep-to-right:focus{
	color: white;        
}    
.THIS .hvr-sweep-to-right:active{
	color: white;       
}
    
.THIS .hvr-sweep-to-right:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.THIS .hvr-sweep-to-right:focus:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.THIS .hvr-sweep-to-right:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 480px) {
    .THIS .ftaibtn .s1 {
        font-size:16px !important;
    }
    .THIS .ftaibtn .s2 {
        font-size:10px !important;
    }
    .THIS .ftaibtn .s3 {
        font-size:10px !important;
    }
}