.THIS .report-container{
    max-height: 800px;
    overflow: auto;
}

.THIS .reportLabelSpan {
    
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: .875rem;
    line-height: 1.25;
}

.THIS .reportLabelH2 {
    display: inline-flex;
    max-width: 100%;
    font-weight: 700;
}

.THIS .refreshSection{ 
    float:right;
    cursor : pointer;
}
.THIS .headerCol{
    background-color:#1b5297 !important;
    color:white !important;
    
}
.THIS th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}