.THIS .editIcon{
    position: absolute;
    z-index: 999;
    padding-left: 10px;
}
.THIS .warningText{
    display:contents;
}
.THIS #modalButton .slds-button{
    line-height: 1.875rem !important;
}
.THIS .fixedHeight{
    width:30px;
    height: 40px;
}
.THIS table td lightning-calendar td { 
    padding: 0 !important; border-top: none !important; 
}

.THIS .add-visibility{
    visibility:visible;
}
.THIS .remove-visibility{
    visibility:hidden;
}

.THIS .hideInputForSameType{
    visibility:hidden; 
}

.THIS .slds-input{
    width: 6rem !important;
    text-align: right;
    min-height: 31px;
    max-height: 31px;
}

.THIS #customLookUp .slds-input{
    width:100% !important;
}

.THIS .inputFeilds .slds-form-element__label{
    display:none;
}

.THIS .placeHChange .slds-input::placeholder{
    color: black;
}

.THIS .applyCss{
    min-width: 60px!important;
    max-width: 60px!important;
}

.THIS .applywidthCss{
    min-width: 75px!important;
    max-width: 75px!important;
}

.THIS .alignNumber{
    text-align: right !important;
}

.THIS .alignText{
    text-align: left !important;
}

.THIS .labelClass{
    display:none;
}

.THIS .pillCss{
    padding:0px !important;
}

.THIS #table .slds-button_icon{
    color: white !important;
}

.THIS .sticky-col{
    min-width: 35px !important;
    max-width: 35px !important;
} 

.THIS .monthTable{
    overflow: hidden;
    padding-bottom: 4px;
    float: left;
}

.THIS .dataTbl{
    white-space: nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
}

.THIS .dynamicHeight{
    height: 41px !important;  
}


.THIS .studioTable thead th {
    height: 35px ; 
    position: unset;
}

.THIS .studioTable tbody td {
    height: 40px ; 
    position: unset;
}


.THIS .studioMainTable thead th {
    height: 35px;
    position: unset;
}


.THIS .studioMainTable tbody td {
    height: 40px;
    position: unset;
}

.THIS .managerDataTable tbody tr:nth-of-type(odd)>td:nth-child(1) {  /*the first cell in each tr*/
    background-color : white;
}



.THIS .backgroudClass{
    background-color:#1b5297 !important;
    color:white !important;
}

.THIS .imgclass{
    max-width: 20px!important;
    height: 22px !important;
}

.THIS .borderleft{
    border-left: 2px solid black !important;
}

.THIS .borderRight{
    border-right: 2px solid black !important;
}

.THIS .addBorderRight{
    border-right: 2px solid black !important;
}

.THIS .bordertop{
    border-top: 2px solid black !important;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.THIS .applyTextAreaStyle{
    max-width: 200px !important;
    min-width: 200px !important;
}

.THIS .textAreaLabel .slds-form-element__label{
    display:none !important;
}
.THIS .textAreaLabel {
    height:31px;
}
.THIS .textAreaLabel .slds-textarea{
    height:31px;
    max-height:31px;
}

.THIS .initialWidth{
    width: 30px!important;
}

.THIS .fixedWidth{
    min-width: 150px !important;
}

.THIS .fixedWidthcol{
    min-width: 170px !important;
}

.THIS .fixedWidthLastCol {
    width: 75px !important;
    min-width: 75px !important;
    max-width: 75px !important; 
}

.THIS #datecol .slds-input{
    width : 155px !important;
}

.THIS #datecol .slds-input__icon{
    margin-right:4px !important;
}

.THIS .slds-form-element__help {
    display:none;
}

.THIS .helpText .slds-form-element__icon {
    padding-top: 0 !important;
}

.THIS .slds-button{
    line-height: 0 !important;
} 
.THIS #trueUpButton .slds-button{
    line-height: 1.5 !important;
} 


.THIS #help .helpText .slds-button_icon {
    color: #fff !important;
}
.THIS .slds-form-element__label{
    display : none !important;
}
.THIS .textColor{
    color : var(--lwc-brandTextLink,rgb(0, 109, 204));
        }