<template>
    <template if:true={isProcessing}>
        <lightning-spinner alternative-text="Loading..." variant="brand" size="medium"></lightning-spinner>
    </template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse"></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Select a merge field</h2>
            </header>
            <div class="slds-modal__content slds-var-p-around_large modalHeight" id="modal-content-id-1">
                <lightning-combobox name="progress" variant="label-hidden" value={fieldName}
                    class="slds-var-p-around_medium" placeholder="Select an merge field" options={fieldOptions}
                    onchange={handleMergeField}>
                </lightning-combobox>
                <lightning-input data-id="mergeField" type="text" label="Selected Field:" value={mergeFieldText}
                    class="slds-var-p-around_medium">
                </lightning-input>
                <lightning-input type="Checkbox" label="Add Hyperlink" onchange={handleAddHyperlink}
                    disabled={disableHyperlink} class="slds-var-p-around_medium"></lightning-input>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_brand" onclick={handleCopyToClipboard}>Copy To Clipboard</button>
                <button class="slds-button slds-button_neutral" onclick={closeModal}>Close</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>