.THIS .btn {
    white-space: nowrap;
    
}
.THIS header {
    padding: 0;
    margin: 0;
}
.THIS .slds-p-around_small{
	padding: 0.50rem;
}
.THIS.dataGridTable th:first-child div {
    display: none !important;
}

.THIS .displayProperty .slds-form-element__label{
    display: none;
    min-width: 120px !important;
    padding-top: 3px !important;
}

.THIS .widthProperty .slds-form-element{
     min-width: 120px !important;
}

.THIS .heightProperty .uiInput--input.input{
    min-height:0px !important;
}