<template>
    <div class="slds-p-right_medium slds-align_absolute-center">
        <lightning-button variant="brand-outline" label={downloadLabel} title={downloadLabel} onclick={handleOpenLink}></lightning-button>
    </div>
</template>