.THIS.slds-table {
    background-color: rgb(250, 250, 249) !important;
}
   
.THIS th:hover .sortIcons {
    display: inline-block !important;
}

.THIS .sortIcons {
    display: none;
}

.THIS .wrapText {
    word-break: break-word;
    white-space: pre-wrap;
    vertical-align: middle;
    display: inline-block;
}

.THIS .assets td .assetsTitle {
    font-weight: bold;
    font-size: 13px;
    border-top: none !important;
    color: #1b5297 !important;
    justify-content: right;
}

.THIS .assets td span{
    padding-right: 25px;
    vertical-align: middle;
}

.THIS .assets td {
    border-top: none !important;
}

.THIS .assets td div {   
    font-size: 13px;
    color: #1b5297 !important;
}

.THIS tbody {
    display: block;
    overflow-y: scroll;
    max-height: 300px;
}

.THIS thead , .THIS tbody tr {
    display: table;
    width: 100%;
    background-color: #fff;
    table-layout: fixed;
}