.THIS .div1Center{
	text-align:center;
}
.THIS .divClass2 {
     font-size: 150%;
}
.THIS .glyphiconcolor{
    color: #e68a00;
    }
.THIS .alignUp{
    top: -8px;
}
.THIS .alignUp2{
    top: -10px;
}
.THIS .alignUp1{
    top: -3px;
}
.THIS .alignUp-10{
    top: 35px;
}
.THIS .checkboxDown{
    height: 12px; 
	width: 12px; 
}
.THIS .labelDown{
    font-weight: 10; 
    font-size: 90%;
    margin-top: 5px;
}
.THIS .infoClass .slds-icon-text-default{
    fill: #C6C5C4 !important; 
}
.THIS .slds-backdrop{
    opacity: 1;
    visibility: visible;
}
.THIS .anchorStyle{
    font-size: x-small;
    display: block;
}
.THIS .slds-form-element__label{
    display: block;
    margin-right: 0;
    padding-right: 0;
}
.THIS .uiMessage.error {
    background-color: white;/*rgb(194, 57, 52); */
    color: rgb(194, 57, 52);
    border-color: white;
}
.THIS .slds-wrap {
    align-items: normal !important;
}
.THIS .flexStyle{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.THIS .flexColStyle{
    flex: 1;
}
.THIS .slds-modal__content{
    overflow: initial;
}
.THIS .uiInput--input .input, .THIS .uiInput--input.input{
    min-height: 0;
}
.THIS .hideLabel > label{
    display: none;
}
.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.THIS .REQ_NO {
    display:none;
}

.THIS .canvasClass {
    border: none !important;
    padding: 0 !important;
} 

.THIS .slds-card {
      border: 0.5px solid rgb(221, 219, 218) !important;
}

.THIS .slds-gutters {
    margin-right: 0px;
    margin-left: 0px;
}

.THIS button[title="Close this window"] {
display: none;
}

.THIS .errorStyle {
    color:red;
}