.THIS .hasevent {
  /* background: url(/resource/GearIcon) no-repeat;*/
    display:none;
}

.THIS .generatedDate{
    font-weight:  500 !important;
}

.THIS .applyCss{
    min-width: 60px!important;
    max-width: 60px!important;
}

.THIS .applywidthCss{
    min-width: 90px!important;
   max-width: 90px!important;
}

.THIS .alignNumber{
    text-align: right !important;
}


.THIS .sticky-col{
    min-width: 35px !important;
    max-width: 35px !important;
} 

.THIS .managerDataTable{
    overflow: hidden;
}

/*thead*/
.THIS .managerDataTable thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    overflow: visible;
}

.THIS .managerDataTable thead th {
 	min-width: 125px;
    max-width: 125px;
    height: 30px;
    width:auto;
    position: unset;
    
}

.THIS .labelClass{
    display:none;
}

.THIS .pillCss{
    padding:0px !important;
}


.THIS .managerDataTable thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    min-width: 120px;
    max-width: 120px; /*seperates the first cell in the header from the header*/
    z-index:1;
    height: 40px;
}


/*tbody*/
.THIS .managerDataTable tbody {
    -webkit-overflow-scrolling: touch !important;
    position: relative;
    display: block; /*seperates the tbody from the header*/
    height: 220px;
    overflow: auto;
}

.THIS .managerDataTable tbody td {
    width:auto;
    min-width: 125px;
    max-width: 125px;
    position: unset;
   
}
.THIS table {
    width: auto;
}


.THIS .managerDataTable tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    min-width: 120px;
    z-index:1;
}
.THIS .managerDataTable tbody tr:nth-of-type(odd)>td:nth-child(1) {  /*the first cell in each tr*/
    background-color : white;
}

.THIS .managerDataTable tbody tr:nth-of-type(odd) {  /*the first cell in each tr*/
    background-color : white;
}

.THIS .managerDataTable {  /*the first cell in each tr*/
    background-color : transparent !important;
}

.THIS .backgroudClass{
    background-color:#1b5297 !important;
    color:white !important;
}

.THIS .imgclass{
    height: 20px !important;
}
.THIS .showClaimCSS{
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
}