.THIS .slds-page-header {
    padding: 0.5rem !important;
}

.THIS .slds-page-header__title {
    font-size: 1rem !important;
}

.THIS .displayRange {
    line-height: 0 !important;
}
.THIS .pointer-label.high {
    left: 98%;
}


.THIS .select {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS.cardBackground {
    background: rgb(243, 242, 242) !important;
    color: rgb(81, 79, 77) !important;
    
}

.THIS .slds-icon-text-default {
    fill: white !important;
}

.THIS .slider-container theme-blue{
    margin-left: 1%;
}

.THIS .displayInline {
	display: inline-block !important;
}

.THIS .headerColor {
    color: rgb(81, 79, 77) !important;
}

.THIS .slds-notify_toast, .THIS .slds-notify--toast {
    min-width: auto !important;
}
            
.THIS .lineStyle{
    height:1px; 
    width:100%; 
    background:#DDDBDA; 
}
            
.THIS .theme-blue .back-bar .pointer-label {
	background-color:#F4F3F3;         
}