.THIS .selected{
    background-color: #f3f2f2;
    color: #fff;
}

.THIS .titleHeaderStyle{
    color:#285392; 
    font-size:16px; 
    font-weight: bold;
}


.THIS .titleSubHeaderStyle{
    color:#285392; 
    font-size:14px; 
}

.THIS .titleSubHeaderContentStyle{
    color:#000000; 
    font-size:12px; 
}

.THIS .tableHeader {
    background: #285392;
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:left;
}

.THIS .thTextStyle{
    color:#ffffff;
    font-size:13px; 
    text-align:left;
}

.THIS .imgStyle{
    height:20px;
}

.THIS .td:hover{
    cursor:move;
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .alignRight {
    text-align: right;
}

.THIS .mouseStyle{
    cursor: pointer;
}

.THIS .mouseScrollStyle{
    cursor: -webkit-grab; 
    cursor: grab;
}