.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.THIS .addCSS .slds-form-element__label{
    font-size: .8125rem;
    margin-bottom: 0px !important;
    
}

.THIS .requiredField:before{
	content: "*";
    color: red;
    position: absolute;
    margin-left: -0.4rem;
}