.THIS .jcrop-holder {
    background: none !important;
}

.THIS #imageCanvas {
    border: 1px solid rgb(221, 219, 218) !important;
}

.THIS .slds-page-header {
    padding: 0.75rem;
}

.THIS .slds-builder-header {
    flex-wrap: wrap !important;
    height: auto !important;
}

.THIS .slds-builder-toolbar,
.THIS .slds-builder-header__item {
    flex-wrap: wrap !important;
}

.THIS .slds-builder-toolbar__actions {
    margin-left: 0 !important;
}

.THIS input {
    min-height: 0 !important;
}

.THIS .fileClass .slds-form-element__label {
    color: #fff !important;
}

.THIS .slds-builder-header__item {
    align-content: initial !important;
}

.THIS #container {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}


/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .fileClass .slds-file-selector__dropzone .slds-file-selector__button{
    font-size: 0;
}

/* insert the text "Upload File" into the button of the lightning:input type file */
.THIS .fileClass .slds-file-selector__dropzone .slds-file-selector__button:after{
    content: 'Upload File';
    font-size: .8125rem;
    color: rgba(27, 82, 151, 1.0);
}

/* remove the "Upload Files" text from the button of the lightning:input type file */
.THIS .fileClass .slds-file-selector__dropzone .slds-file-selector__text{
    font-size: 0;
}

/* insert the text "New Exam" into the button of the lightning:input type file */
.THIS .fileClass .slds-file-selector__dropzone .slds-file-selector__text:after{
    content: 'Or Drop File';
    font-size: .8125rem;
}