.THIS .mrShare.slds-modal__container{
    width: 100% !important;
    max-width: 67rem !important;
    min-width: 67rem  !important;
}

.THIS .removelabel .slds-form-element__label{
    display:none !important;
}

.THIS .closeIcon .slds-icon{
    fill:white !important;
}