.THIS {
}

.THIS .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.THIS .scoreStyle {
  min-width:50px;
  margin-top:7px;
  margin-bottom: 7px;
  margin-left:0px;
}

.THIS .covidStyle{
  padding-bottom:5px;  
  background:#fafafa;
  overflow-x: auto;
  width:100%;  
  position: relative; 
  color:#4d4d4d;
}

.THIS .customTableStyle{
  margin-top:10px; 
  background:#ffffff;
  overflow-x: auto;
  width:100%;  
  position: relative; 
  color:#4d4d4d;
}

.THIS .overallStyle {
  display:inline-block; 
  float:right; 
  margin-right:20px; 
}

.THIS .assetStyle {
  font-size:16px; 
  color:#000000; 
  padding-left:5px; 
  font-weight: bold;
}