.THIS .InnerColCost:nth-child(8n+2){
    background-color: #c9daf8;
}
.THIS .InnerColCost:nth-child(8n+3){
    background-color:#c9daf8;
}

.THIS .InnerColCost:nth-child(8n+4){
    background-color: #c9daf8;
}

.THIS .InnerColCost:nth-child(8n+5){
    background-color: #c9daf8;
}
.THIS .odd{
    background-color: #c9daf8 !important;
}
.THIS .even{
    background-color: #ffffff !important;
}
.THIS .sticky-col{
    left: 0;
    position: absolute !important;
    top: auto;
    width: 14%;
    min-width: 14%;
    max-width: 14%;
}
.THIS.scrollableCol{
    margin-left: 7.9rem;
    overflow-x: auto;
    overflow-y: auto;
    width: auto;
}
.THIS .numberClass{
    text-align: right !important;
}