.THIS .ReturnConditionTable{
    display: inline-block !important;
    position: relative !important;  
}

.THIS .ReturnConditionInnerTable{
    display: inline-block !important;
    position: relative !important;  
}

.THIS .ReturnConditionStyle{
    border-top: 1px solid rgb(221, 219, 218);
}

.THIS .tbl:nth-child(2n+1) {
    background-color: #c9daf8;
}
.THIS .tbl .slds-table {
    background: transparent !important;
}
.THIS .numberClass{
    text-align: right !important;
}
.THIS.slds-backdrop{
    opacity: 1 !important;
    visibility: visible !important;
}