.THIS .deliveryConditiontable{
    display: inline-block;
    position: relative;  
}
.THIS .tblColor:nth-child(2n+1){
    background-color: #c9daf8;
}
.THIS .tblColor .slds-table {
    background: transparent !important;
}
.THIS .slds-icon_small{
    height: 1rem !important;
}
.THIS .successIcon .slds-icon-text-default{
    fill:green !important;
}
.THIS .numberClass{
    text-align: right !important;
}
.THIS .imgclass{
    height: 20px !important;
}
.THIS .firstColCSS{
    max-height: 31px !important;
    min-height: 31px !important;
}
.THIS .firstColDiv{
    max-height: 22px !important;
    min-height: 22px !important;
}