.THIS {
}

.THIS div.slds-rich-text-editor__toolbar{
    display: none; 
}

.THIS .dec{
    text-decoration:underline;
    font-size:13px;
    padding-top:10px;
}

.THIS .headerStyle {
    letter-spacing: 0px;
    text-align: left;
    color: #080707;
}