<template>
        <article class="slds-card">
            <div class="slds-card__header slds-grid slds-grid_align-spread slds-p-bottom_small slds-border_bottom marginZero">
                <div class="slds-col">
                    <span class="slds-text-heading_medium slds-p-left_medium"><strong style="color: #6f7072;">Journal Transaction Register</strong></span>
                </div>
                <div class="slds-col">
                    <template if:true={isDetailMode}>
                        <lightning-button class="slds-m-right_small" label="Send Journals" onclick={handleSendJournals} disabled={disableSendJournal}></lightning-button>
                    </template>
                    <lightning-button class="slds-m-right_small" label="Export to Excel" onclick={handleExportToExcel} disabled={disableExportButton}></lightning-button>
                    <lightning-button class="slds-m-right_small" label="Cancel" onclick={handleCancel}></lightning-button>                
                </div>
            </div>
            <div class="slds-card__body slds-card__body_inner">

                 <!--call filter form if its not detail mode.-->
                <template if:false={isDetailMode}>
                    <div class="slds-grid slds-wrap slds-p-bottom_medium">

                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12
                        slds-p-around_x-small">
                            <lightning-combobox
                                label="From Accounting Period"
                                name="startDate"
                                value={startDateValue}
                                placeholder="Select start date"
                                options={startDateOptions}
                                onchange={handleStartDateChange} 
                                required>
                            </lightning-combobox>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-combobox 
                            name="endDate"
                            label="To Accounting Period"
                            value={endDateValue}
                            placeholder="Select end date"
                            options={endDateOptions}
                            onchange={handleEndDateChange}
                            required>
                            </lightning-combobox>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-combobox
                                name="status"
                                label="Status"
                                value={statusValue}
                                placeholder="Select status"
                                options={statusOptions}
                                onchange={handleChangeEvent}
                                data-fieldname="Journal_Status__c" >
                            </lightning-combobox>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-input type="text" label="GL Account Code" data-fieldname="GL_Account_Code__c"  onchange={handleChangeEvent}>
                            </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-input type="text" label="Legal Entity" data-fieldname="Legal_Entity__c"  onchange={handleChangeEvent}>
                            </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-input type="text" label="MSN/ESN"  data-fieldname="Lease__r.Aircraft__r.MSN_Number__c"  onchange={handleChangeEvent}>
                            </lightning-input>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <lightning-combobox
                                name="Journal Source"
                                label="Journal Source"
                                placeholder="Select Journal Source"
                                options={journalSourceOptions}
                                data-fieldname="Transaction_Type__c" 
                                onchange={handleChangeEvent}>
                            </lightning-combobox>
                            
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <c-custom-lookup-l-w-c object-name="Lease__c" field-name="Name" field-label="Lease" icon-name="custom:custom18" onselected={lookupEventHandler} ></c-custom-lookup-l-w-c>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <c-custom-lookup-l-w-c object-name="Operator__c" field-name="Name" field-label="Lessee" icon-name="custom:custom76" onselected={lookupEventHandler} ></c-custom-lookup-l-w-c>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small">
                            <c-custom-lookup-l-w-c object-name="Counterparty__c" field-name="Name" field-label="Lessor" icon-name="custom:custom15" onselected={lookupEventHandler}></c-custom-lookup-l-w-c>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12 slds-p-around_x-small"
                            style="padding-top:2.5%;">
                            <lightning-button variant="brand" label="Search" onclick={handleSearch}></lightning-button>
                            <lightning-button class="slds-m-left_small" variant="brand" label="Clear" onclick={handleClear}></lightning-button>
                        </div>    
                    
                </div>
                    
                </template>

                <template if:true={isTableLoaded}>
                        <div>
                            <lightning-datatable
                                    key-field="calenderPeriodName"
                                    data={dataList}
                                    columns={columns}
                                    hide-checkbox-column="true"
                                    >
                                    <!--max-column-width="200px"
                                    min-column-width="100px"-->
                            </lightning-datatable>
                        </div>
                    </template>
                </div> 
        </article>
        <template if:true={isProcessing}>
            <lightning-spinner alternative-text="Loading..." variant="brand" size="medium"></lightning-spinner>
        </template>
</template>