.THIS .selected{
    background-color: #f3f2f2;
    color: #fff;
}

.THIS .titleHeaderStyle{
    color:#285392; 
    font-size:16px; 
    font-weight: bold;
}

.THIS .table {
    overflow-x: scroll;
    overflow-y: visible;
}


.THIS .tableHeader {
    height: 16px;
    background: #285392;
    white-space:pre-wrap;
    font-size:12px; 
    text-align:center;
}


.THIS .tableScroll {
    overflow-x: scroll;
    overflow-y: visible;
    
  
}


.THIS .titleSubHeaderStyle{
    color:#285392; 
    font-size:14px; 
}

.THIS .titleSubHeaderContentStyle{
    color:#000000; 
    font-size:12px; 
}


.THIS .tdTextStyle{
    white-space:pre-wrap; 
    color:#000000; 
    font-size:12px; 
    text-align:center;
    overflow:visible;
    width:90px;
}


.THIS .leftBorderHighlight {
    border-left: 2px solid #000000; 
}

.THIS .rightBorderHighlight {
    border-right: 2px solid #000000;
}

.THIS .rightBorderGrey {
    border-right: 2px solid #a8a8a8;
}

.THIS .thTextStyle{
    color:#ffffff;
    font-size:13px; 
    text-align:center;
    
}

.THIS .imgStyle{
    height:20px;
}

.THIS .td:hover{
    cursor:move;
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .alignRight {
    text-align: right;
}

.THIS .mouseStyle{
    cursor: pointer;
}

.THIS .mouseScrollStyle{
    cursor: -webkit-grab; 
    cursor: grab;
}

.THIS .basicLeftStyle {
    display:inline-block; 
    width:30%;
}

.THIS .basicRightStyle {
    display:inline-block; 
    width:70%;
}

.THIS .basicTitleStyle {
    font-size:12px; 
    text-align:left;
    color:#737373;
}

.THIS .basicDataStyle {
    font-size:12px; 
    text-align:left;
}
.THIS .textcolor{
    color: blue;
}
.THIS .noBorder{
    border-top: 0px; 
    border-left: 0px;
    border-right: 0px;
}

.THIS .slds-table_bordered{
    border-top: 0px; 
    /*border-right: 1px solid rgb(221, 219, 218);*/
}

.THIS .topBorder {
    border-top: 1px solid rgb(221, 219, 218); 
    border-right: 1px solid rgb(221, 219, 218); 
}

.THIS .topBorderHighlight {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000; 
    border-left: 2px solid #000000; 
}


.THIS .roundCornerTextBox {
    border-radius: 5px;
    border: 1px solid rgb(221, 219, 218);
    width: 60px;
    height: 35px; 
    padding:5px;
}

.THIS .inputClass input { 
    text-align: right;
}

.THIS .imgStyle{
    height:20px;
}


.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.THIS .headerBorder{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.THIS .contentBorder{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.THIS .footerBorder{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}