.THIS .cardStyle {
    background: #005fb2;
}

.THIS .outtextStyle{
    font-size:14px; 
    color:#000000;
}

.THIS .inputTextStyle{
    font-size:14px; 
    color:#005fb2;
    word-wrap: break-word;}

.THIS .preview{
    margin-bottom:0px;
}

.THIS .inputBoxStyle{
    font-size:12px; 
    width:170px;
    
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:left;
    width:100px;
   
}

.THIS .thTextStyle{
    white-space:pre-wrap; 
    color:#005fb2;
    font-size:13px; 
    text-align:left;
    word-wrap:break-word;
    width:100px;
}

.THIS .rightInputTextStyle{
    font-size:12px; 
    width:90px; 
    color:#005fb2;
    margin-left:0px;
}

.THIS .rightInputBoxStyle{
    font-size:12px; 
    width:90px;
    margin-right:1px;
}
.THIS .checkboxStyle{
    margin-top: 10px;
}

.THIS .calcStyle {
    margin-top: 5px;
    text-align: left;
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .rightRoundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-right:1px;
    margin-left:0px;
    text-align : right;
    width : 50%;
}

.THIS .roundWhiteBorder{  
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
}

.THIS .customTitleWidth {
    width: 31%;
}

.THIS .customTitleWidthBordered {
    width: 28%;
}

.THIS .customFieldWidth {
    width: 50%;
}

.THIS .tableOuttextStyle{
    font-size:12px; 
    color:#000000;
}

.THIS .thTableTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
	color:#005fb2;
    font-size:11px; 
    text-align:left;
}

.THIS .marginUp {
    margin-top:-20px;
}

.THIS .slds-form-element__icon { z-index: 0; }