.THIS {
}

.THIS .footerAlign {
    display:inline-block;
    width:50%;
}

.THIS .stepStyle{
    display:inline-block; 
    vertical-align:top; 
    padding-right:0px; 
    overflow-x: auto;
}

.THIS .step2Style {
    padding:5px; 
    margin-top:10px; 
    margin-bottom:10px; 
    background:#ffffff;  
}

.THIS .step2div{
    display:inline-block; 
    vertical-align:top; 
    width:90%;  
    overflow-x: auto;
}

.THIS .thrustStyle{
    overflow-x: auto; 
}

.THIS .step3Div{
    display:inline-block; 
    vertical-align:top; 
    width:90%;  
    overflow-x: auto; 
}

.THIS .step4Style {
    display:inline-block; 
    vertical-align:top; 
    width:90%;  
    overflow-x: auto; 
}

.THIS .step4Div{
    padding:5px; 
    margin-top:10px; 
    background:#ffffff;
}

.THIS .slds-list_dotted {
    margin-left: .2rem;
}

.THIS .weigthStyle {
    float:right; 
    margin-right:10px;
    margin-top:-23px;
}