.THIS.customSpinner {
   background-color: transparent;
   z-index:9999 !important;
}
.THIS .successMessage {
   background-color: #228c55;
   color: white;
}
.THIS .failureMessage {
   background-color: #900606;
   color: white;
}

.THIS .slds-modal__header{
    border-bottom :NONE !important;
    padding : 5px  !important;
}