.THIS .alignText{
    text-align: left !important;
}

.THIS .slds-col{
    flex : none !important;
}
.THIS .slds-card__header{
    padding:0px !important;
    margin:0px !important;
}
.THIS .slds-section{
    margin-top : 0px !important;
}
.THIS .slds-card__body{
    margin-top : 0px !important;
}
.THIS .slds-card{
    border-top: 0px !important;
}
.THIS .warningmodal{
    background:white;
    padding:15px;
}
.THIS .slds-modal__footer{
    padding : 0px !important;
}