.THIS .toggle {
    display : none;
}
.THIS.pageHeader {
    background-color : rgb(243, 242, 242); 
    border : 1px solid rgb(217, 219, 221);
    border-radius : .25rem;
}
.THIS .tableheader {
    background-color:rgb(227, 229, 230); 
    border-top: 4px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom : 1px solid rgb(0, 0, 0);
}
.THIS .tableTransfer {
    font-weight: 700;
    background-color:rgb(227, 229, 230);
    border: 1px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
}
.THIS .tableRows {
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.THIS .tablePadding {
    padding-right: 1rem;
}
.THIS .tableExtraRow {
    background-color:rgb(243, 242, 242);
    border: 1px solid rgb(243,242,242);
}
.THIS .tableHeadRow {
    background-color:rgb(243, 242, 242);
    font-weight: 700;
}
.THIS.pageBackground {
    background-color:white;
    padding:20px;
    height:auto;
    border-radius:5px;
}
.THIS.slds-spinner_container{
    background-color:  rgba(8, 7, 7, 0); 
    z-index : 9999 !important;
	position : fixed !important;
}