.THIS .slds-form-element__control{
    margin-bottom:5px;
}
.THIS .leftPaddingClass{
   padding-left: 2rem;
}
/*
.THIS .colorCodeClass{
  background-color: #F3F4F3 !important;
}
*/
/*
.THIS .listbox{
    width:90%;
}*/