<template>
    <lightning-layout horizontal-align="spread" vertical-align="center" multiple-rows="true" padding="around-small">
        <lightning-layout-item size="12">
    <div class="slds-page-header slds-p-top_medium slds-p-bottom_medium" style="background-color: white;">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name={portalTemplateRecord.Asset_Template_Icon__c} alternative-text="Custom" title="Custom">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span class="slds-page-header__title slds-truncate" title={portalTemplateRecord.Name}>{portalTemplateRecord.Name}</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </lightning-layout-item>
    <lightning-layout-item size="10">
    <div class="slds-form slds-p-around_medium container" role="list">
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-input required class="filtervalidation" name="limrange" type="number"
                                label={limrangeLabel} step="0.01" min="0" value={inputLimiterRange}
                                onchange={handlePartInput}>
                            </lightning-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={portalTemplateRecord.EGT_Marting_applicable__c}>
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div
                    class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-input required class={egtClass} name="egtmargin" type="number"
                                label="EGT Margin Min." step="0.01" min="0"
                                field-level-help="This is module minimal EGT Margin" value={inputEGTMargin}
                                onchange={handlePartInput}>
                            </lightning-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
</lightning-layout-item>
    <lightning-layout-item size="2">
        <div class="slds-p-around_medium">
            <img style="height: 100px;" src={portalTemplateRecord.Asset_Template_Image__c}>
        </div>
    </lightning-layout-item>
    </lightning-layout>
</template>