.THIS th:hover .sortIcons {
    display: inline-block !important;
}

.THIS .sortIcons {
    display: none;
}

.THIS th:first-child, .THIS tr td:first-child {
    width: 80px !important;
}

.THIS.slds-table {
    background-color: rgb(250, 250, 249) !important;
}

.THIS tbody {
    display: block;
    overflow-y: auto;
    max-height: 300px;
}

.THIS thead , .THIS tbody tr {
    display: table;
    width: 100%;
    background-color: #fff;
    table-layout: fixed;
}
.THIS .buttonDiv{
    display: initial;
}