.THIS .selected{
    background-color: #f3f2f2;
    color: #fff;
}

.THIS .titleHeaderStyle{
    color:#285392; 
    font-size:16px; 
    font-weight: bold;
}


.THIS .titleSubHeaderStyle{
    color:#285392; 
    font-size:14px; 
}

.THIS .titleSubHeaderContentStyle{
    color:#000000; 
    font-size:12px; 
}

.THIS .tableHeader {
    background: #285392;
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:left;
    vertical-align: top;
}

.THIS .thTextStyle{
    color:#ffffff;
    font-size:13px; 
    text-align:left;
}

.THIS .imgStyle{
    height:20px;
}

.THIS .td:hover{
    cursor:move;
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .alignRight {
    text-align: right;
}

.THIS .mouseStyle{
    cursor: pointer;
}

.THIS .mouseScrollStyle{
    cursor: -webkit-grab; 
    cursor: grab;
}

.THIS .slds-modal__container {
    top: 25%;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    min-height: 40%;
    max-height: 75%;
    min-width: 20%;
}

.THIS .commentPopup {
    top: 30%;
    margin: 0 auto;
    width: 50%;
    max-width: 50%;
    min-height: 40%;
    min-width: 20%;
}


.THIS .modalheaderCommentPopup {
    padding-top: 10px;
}

.THIS .slds-modal__header {
    padding-top: 0px;
}

.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}