<template>
    <lightning-card>
        <div style="background:#ffffff;" class="slds-var-p-bottom_x-small">
            <div class="slds-grid slds-wrap"
                style="padding-left:20px; height:40px; margin-top:-23px; background:#005fb2">
                <label class="slds-form-element__label" style="font-size:20px; color:#ffffff; text-align:left;">
                    Financial Configuration
                </label>
            </div>
        </div>
        <ul>
            <li>
                <div class="slds-col slds-size_1-of-1 slds-var-p-left_small slds-var-p-bottom_x-small">
                    <span><a onclick={chartOfAccounts}>Chart of Accounts</a></span>
                </div>
            </li>
            <li>
                <div class="slds-col slds-size_1-of-1 slds-var-p-left_small slds-var-p-bottom_x-small">
                    <span><a onclick={accountingPeriod}>Accounting Periods</a></span>
                </div>
            </li>
            <li>
                <div class="slds-col slds-size_1-of-1 slds-var-p-left_small slds-var-p-bottom_x-small">
                    <span><a onclick={accountingSetup}>Accounting Journals Setup</a></span>
                </div>
            </li>
            <li>
                <div class="slds-col slds-size_1-of-1 slds-var-p-left_small slds-var-p-bottom_x-small">
                    <span><a onclick={dimensions}>Dimensions</a></span>
                </div>
            </li>
            <li>
                <div class="slds-col slds-size_1-of-1 slds-var-p-left_small">
                    <span><a onclick={legalEntries}>Intercompany Routings</a></span>
                </div>
            </li>
        </ul>
    </lightning-card>
</template>