.THIS .div1Center{
	text-align:center;
}
.THIS .divClass2 {
     font-size: 150%;
}
.THIS .glyphiconcolor{
    color: #e68a00;
    }
.THIS .alignUp{
    top: -8px;
}
.THIS .alignUp2{
    top: -10px;
}
.THIS .alignUp1{
    top: -3px;
}
.THIS .alignUp-10{
    top: 35px;
}
.THIS .checkboxDown{
    height: 12px; 
	width: 12px; 
}
.THIS .labelDown{
    font-weight: 10; 
    font-size: 90%;
    margin-top: 5px;
}
.THIS .infoClass .slds-icon-text-default{
    fill: rgb(230, 138, 0) !important;
}
.THIS .slds-backdrop{
    opacity: 1;
    visibility: visible;
}
.THIS .anchorStyle{
    font-size: x-small;
    display: block;
}
.THIS .slds-form-element__label{
    display: block;    
}
.THIS .uiMessage.error {
    background-color: rgb(194, 57, 52);
    color: rgb(255, 255, 255);
}