.THIS .myContainer{
    width:100%;
    padding-top : 10px;
    overflow-x:auto;
    white-space: nowrap; 
    overflow-y: auto; 
}
.THIS .slds-required{
    color : red !important;
}
.THIS .tdAlign{
    text-align: center;
}
.THIS .slds-form-element__label:empty{
    display : none;
}
.THIS.hideLabel label{
    display:none !important;
    
}
.THIS .table-head_class {
    background-color:  #1b5297;
    color : white;
    height:1rem; font-size: 12px;
}
.THIS.slds-spinner_container{
    background-color: UNSET;   
}