.THIS {
}
.THIS .box{
    width:40px;
}
.THIS .gridCustom{
    height:80px;
}

.THIS .rank1{
    color:#228B22;
}
.THIS .rank2{
    color:#32CD32;    
}
.THIS .rank3{
    color:#FF7F50;    
}
.THIS .rank4{
    color:#C0C0C0;    
}
.THIS .rank5{
    color:#C0C0C0;    
}
.THIS .rank6{
    color:#C0C0C0;    
}
.THIS .rank7{
    color:#C0C0C0;    
}
.THIS .rank8{
    color:#C0C0C0;    
}
.THIS .rank9{
    color:#C0C0C0;    
}
.THIS .rank10{
    color:#C0C0C0;    
}
.THIS .col1{
    font-size:28px;
}
.THIS .col2{
	font-size:24px;   
}
.THIS .col3{
	font-size:22px;   
}
.THIS .col4{
	font-size:18px;   
}
.THIS .col5{
	font-size:16px;
}
.THIS .col6{
	font-size:16px;
}
.THIS .col7{
	font-size:16px;
}
.THIS .col8{
	font-size:16px;
}
.THIS .col9{
	font-size:16px;
}
.THIS .col10{
	font-size:16px;
}
.THIS .boxDiv{
    height:100px; 
    width:100px; 
    display:inline-block;
}
.THIS .criteriaText{
    padding-left:20px; 
    text-align:left;
}
.THIS .buttonBackground {
    background-color:#005fb2;
}
.THIS .slds-button_neutral:disabled {
    background-color:#ffffff;
}


.THIS .popup {
    background: #0A61AE
}

.THIS .tabelCss{
    border: 1px solid #dad7d7;
    border-collapse: collapse;
    font-size:12px;
    color:#4d4d4d;
}

.THIS .tableHeaderCss {
    padding: 5px;
    text-align: left;    
    font-weight: normal;
}

.THIS .vintageRangeCss {
    height: 20px;
}

.THIS .slds-form-element__label {
    padding-right: 0;
}
.THIS .uiInput--input .input, .THIS .uiInput--input.input {
    line-height: 0;
    min-height: calc(1.9rem + 1px);
}
.THIS .slds-list_dotted, .THIS .slds-list--dotted {
    margin-left: 7px;
  /*  margin-left: var(--lwc-varSpacingXSmall,1.5rem);*/
}

.THIS .applyFilterStyle{
    float:right; padding-right:17px; padding-top:5px; margin-top:-42px; width:120px;
}

.THIS .tdlabelStyle {
    min-width:120px !important;
    font-size:12px;
    color:#005fb2;
}

.THIS .tdInputStyle {
    min-width: 150px !important;
}

.THIS .tdExtraSpacing {
    min-width: 15px;
}

.THIS .slds-table td {
    white-space: normal;
}

.THIS .helpTextLabelStyle {
    padding-right: 5px;
}

.THIS .custom .slds-form-element__icon .slds-button_icon {
    color: #C6C5C4;
}

.THIS .airlineStyle {
    background:#FAFAF9; 
    overflow-y:auto;
}

.THIS .headerStyle  {
    position: sticky;
    top: 0; 
    z-index: 3;
}

.THIS .popupClass{
	z-index: 5;    
}

.THIS .iconCustom .slds-form-element__icon{
    margin-top:-4.4px;
}