<template>
    <template if:true={isProcessing}>
        <lightning-spinner alternative-text="Loading..." variant="brand" size="medium"></lightning-spinner>
    </template>
    <div data-id="manualStyle" lwc:dom="manual"></div>
    <template if:true={fieldData.fieldExists}>
        <template if:true={fieldData.isfieldAccessible}>
            <article class="slds-card">
                <div class="slds-card__body slds-card__body_inner">
                    <label class="slds-form-element__label" slot="title">{fieldLabel}</label>
                    <template if:true={viewMode}>
                        <div class="slds-box slds-scrollable editor slds-text-longform" data-id="viewDiv">
                            <lightning-formatted-rich-text value={fieldValue}></lightning-formatted-rich-text>
                        </div>
                    </template>
                    <template if:false={viewMode}>
                        <lightning-input-rich-text data-id="richtext" value={fieldValue} formats={formats}
                            share-with-entity-id={recordId} onchange={onValueChange} onkeydown={checkKey}>
                        </lightning-input-rich-text>
                    </template>
                </div>
                <template if:true={fieldData.isfieldUpdatable}>
                    <footer class="slds-card__footer slds-text-align_right slds-docked-form-footer"
                        style="position:sticky;">
                        <template if:true={viewMode}>
                            <lightning-button variant="brand" label="Edit" title="Edit" onclick={editFieldValue}
                                class="slds-var-m-left_x-small"></lightning-button>
                        </template>
                        <template if:false={viewMode}>
                            <lightning-button variant="brand" label="Save" title="Save" onclick={saveFieldValue}
                                class="slds-var-m-left_x-small"></lightning-button>
                            <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={resetFieldValue}
                                class="slds-var-m-left_x-small"></lightning-button>
                        </template>
                    </footer>
                </template>
            </article>
        </template>
        <template if:false={fieldData.isfieldAccessible}>
            <p class="slds-text-align_center">You do not have access to view this content.</p>
        </template>
    </template>
    <template if:false={fieldData.fieldExists}>
        <p class="slds-text-align_center">
            The Field API provided does not exist on the object associated to the page.
        </p>
    </template>
</template>