.THIS .prospectLabelRow2:nth-child(2n+2) {background-color:#c5d5f0}

.THIS .fontBold{
    font-weight : 900;
}
.THIS .spanCls{
    padding-left: 65px;
}

.THIS .textAlign{
    text-align : center !important;
}

.THIS .SummaryTblCls{
	border-bottom: 1px dotted #8c8c8c; 
}

.THIS .customMarginLeft {
    margin-left: .5rem !important;
}