.THIS .myContainer{
    width:100%;
    overflow-x:auto;
    white-space: nowrap; 
    overflow-y: auto; 
    max-height: 450px;
}

.THIS .table-head_class {
    background-color: rgb(0, 57, 107);
    color : white; 
    height:2rem; font-size: 16px;
}

.THIS .table-row_heading{
    width: 9%;
     white-space: nowrap; 
    text-align: left;
}
.THIS .table-row_data{
    text-align: right;
}
.THIS .handle-width{
    min-width: 100px;
}

.THIS .style-anchor{
    color:white;
}

.THIS .handle-display{
    display : none;
}

.THIS .slds-icon-text-default {
    fill : white !important;
}