.THIS .header {
    font-weight: 700; 
    color: #3B5391;
}

.THIS .slds-pill-container {
    display: inline-block;
}

.THIS .slds-pill {
    width: 100% !important;
}

.THIS .undefinedPill {
    height: 26px !important;
    border: 1px solid rgb(221, 219, 218)
}

.THIS .undefinedPill .slds-pill__action {
    border: none !important;
}

.THIS .undefinedPill .slds-pill__remove, 
.THIS .undefinedPill .slds-pill__icon_container  {
    display: none !important;
}

.THIS .approvedColor {
    color: grey;
}

.THIS .overrideColor {
    color: black;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.THIS .amountColor {
    color: #006DCC;
}

.THIS .costFields .slds-input {
    text-align: right !important;
    line-height: 1rem !important;
    min-height: 25px !important;
}

.THIS .divBorder {
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .opeatorWidth {
    width: 4% !important;
}

.THIS .iconWidth {
    width: 12.3333333333% !important;
}

.THIS .dividerWidth {
    width: 96% !important;
}

.THIS .slds-form-element__help, .THIS .slds-form-element__helper {
    display: none !important;
}

.THIS .invalidAmount {
    color: rgb(194, 57, 52);
}

.THIS .slds-button:focus {
    box-shadow: none !important;
}

.THIS .selectedMR .slds-pill__remove {
    display: none;
}

.THIS .helpText .slds-form-element__icon {
    padding-top: 0 !important;
    vertical-align: text-bottom !important;
}

.THIS .numberClass{
    padding-right: 1rem;
}

.THIS .cCustomLookup > label {
    display: none;
}

.THIS .cCustomLookup .slds-pill-container.slds-show {
    width: -webkit-fill-available;
}