.THIS .headerStyle {
    padding-top:5px;
    padding-left:10px;
    padding-bottom:15px;
}

.THIS .lw-background_grey{
    background-color: #FAFAF9;
}

.THIS .inputLinkStyle {
    color:#005fb2;
    cursor:pointer;
}

.THIS .input.inputLinkStyle:hover {
    cursor:pointer;
}

.THIS thead th{
    background-color: #F4F3F3;
    color: #3E3E3C;	 
    height:40px;
}

.THIS .adjustmentTextAlign {
	text-align:right;    
}

.THIS .custom .slds-card__header.slds-grid{
    padding:0px;
}

.THIS .lineStyle{
    height:2px; 
    width:100%; 
    background:#DDDBDA; 
}

.THIS .approvalStatus {
    min-height:38px;
}