.THIS .slds-modal__content {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;

}

.THIS .assetDiv {
    border-color: red !important;
}

.THIS .myForm .slds-checkbox {
    padding-top: 18px;
}

.THIS .myForm .slds-form-element__label {
    font-size: .75rem !important;
}

.THIS .recordTypeField a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.THIS #removelabel .slds-form-element__label {
    display: none !important;
}