.THIS {
}

.THIS .wrap-text{
    white-space:pre-wrap; 
    word-wrap:break-word;
}

.THIS .topBorderOnly {
    border-top: 1px solid #DDDBDA;
}

.THIS .bottomBorderOnly {
    border-bottom: 1px solid #DDDBDA;
}

.THIS .td:hover {
    background-color: red;          
}

.THIS .td:hover + td {
    color: red;   
}