.THIS .theadBackground {
    background-color: #1b5297 !important;
    color: #fff !important;
}

.THIS .emptyString {
    color: #c23934;
    font-size: 14px;
    font-weight: bold;
}

.THIS th, .THIS td {
    color: #006DCC;
}

.THIS .negativeColor {
    color: #c23934 !important;
}

.THIS .typeColor {
    color: #303F54 !important;
}

.THIS .clickRow {
    cursor: pointer;
}

.THIS .selectedRow td {
    background-color: #c5e1c5 !important;
}

.THIS .helpText .slds-form-element__icon {
    padding-top: 0 !important;
    vertical-align: text-top !important;
}