<template>
    <div class="slds-is-relative" style="min-height:100%;">
        <div data-id="manualStyle" lwc:dom="manual"></div>
        <template if:true={isProcessing}>
            <lightning-spinner alternative-text="Loading..." variant="brand" size="medium"></lightning-spinner>
        </template>
        <template if:true={hasNotificationSetting}>
            <template if:true={loadData}>
                <article class="slds-card">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="custom:custom112"
                                    alternative-text="Notification Subscription" title="Notification Subscription">
                                </lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <span>Notification Subscription</span>
                                </h2>
                            </div>
                        </header>
                    </div>
                    <div class="slds-card__body slds-card__body_inner">
                        <div class="slds-form" role="list">
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <template if:true={userEditAccess}>
                                            <lightning-combobox name="ObjectName" label="Subscription Object"
                                                value={loadData.selectedObjectName} placeholder="Select Object"
                                                options={loadData.sObjectList} onchange={handleObjectChange}
                                                dropdown-alignment="auto" required disabled={isEditMode}>
                                            </lightning-combobox>
                                        </template>
                                        <template if:false={userEditAccess}>
                                            <label
                                                class="slds-form-element__label slds-form-element__legend">Subscription
                                                Object</label>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text value={loadData.selectedObjectLabel}>
                                                </lightning-formatted-text>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <template if:true={userEditAccess}>
                                            <c-notify_-lookup-utility initial-selection={selectedRecords}
                                                is-multi-records="true" is-multi-entry="true"
                                                label="User / Group / Profile" onselectedrecords={handleSelectionChange}
                                                object-list={objectList} max-selection-size={maxSelectionSize}
                                                required=true>
                                            </c-notify_-lookup-utility>
                                        </template>
                                        <template if:false={userEditAccess}>
                                            <label class="slds-form-element__label slds-form-element__legend">User /
                                                Group /
                                                Profile</label>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text value={loadData.selectedUserGroup}>
                                                </lightning-formatted-text>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <template if:true={userEditAccess}>
                                            <template if:true={notificationTypeOptions.data}>
                                                <lightning-combobox name="radioGroup" label="Notification Type"
                                                    value={loadData.notificationType}
                                                    options={notificationTypeOptions.data.values}
                                                    onchange={handleNotificationChange} dropdown-alignment="auto"
                                                    disabled={isEditMode}>
                                                </lightning-combobox>
                                            </template>
                                        </template>
                                        <template if:false={userEditAccess}>
                                            <label
                                                class="slds-form-element__label slds-form-element__legend">Notification
                                                Type</label>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text value={loadData.notificationType}>
                                                </lightning-formatted-text>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-form__item" role="listitem">
                                    <div class="slds-form-element slds-form-element_stacked">
                                        <template if:true={userEditAccess}>
                                            <template if:true={disableActiveToggle}>
                                                <lightning-input type="toggle" label="Activate Subscription"
                                                name="isActiveToggle" checked={loadData.isActive}
                                                onchange={handleisActiveChange} title='We need System Administrator support to create this notification for the first time. Please contact your System Administrator to activate this Notification. Once activated you can create any notifications for this Object' disabled=true>
                                            </lightning-input>
                                            </template>
                                            <template if:false={disableActiveToggle}>
                                            <lightning-input type="toggle" label="Activate Subscription"
                                                name="isActiveToggle" checked={loadData.isActive}
                                                onchange={handleisActiveChange}></lightning-input>
                                            </template>
                                        </template>
                                        <template if:false={userEditAccess}>
                                            <lightning-input type="toggle" label="Activate Subscription"
                                                name="isActiveToggle" checked={loadData.isActive}
                                                onchange={handleisActiveChange} disabled=true>
                                            </lightning-input>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <template if:true={showFieldsSection}>
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_stacked">
                                            <template if:true={userEditAccess}>
                                                <lightning-combobox name="progress" label="Field"
                                                    value={loadData.fieldAPIName} placeholder="-Select-"
                                                    options={fieldOptions} onchange={handleFieldChange}
                                                    dropdown-alignment="auto" disabled={isEditMode}>
                                                </lightning-combobox>
                                            </template>
                                            <template if:false={userEditAccess}>
                                                <label
                                                    class="slds-form-element__label slds-form-element__legend">Field</label>
                                                <div class="slds-form-element__control">
                                                    <lightning-formatted-text value={loadData.fieldName}>
                                                    </lightning-formatted-text>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="slds-form__item" role="listitem">
                                        <template if:true={notifyDayType}>
                                            <template if:true={userEditAccess}>
                                                <div
                                                    class="slds-form-element slds-form-element_stacked slds-grid slds-gutters">
                                                    <lightning-combobox class="slds-col" name="notifyDayType"
                                                        label="Notify Type" value={loadData.notifyDayType}
                                                        placeholder="-Select-" options={dateOptions}
                                                        onchange={handleDayTypeChange} dropdown-alignment="auto">
                                                    </lightning-combobox>
                                                    <lightning-input class="slds-col" type="number" label="Notify Days"
                                                        value={loadData.notifyDays} onchange={handleNotifyDaysChange}>
                                                    </lightning-input>
                                                </div>
                                            </template>
                                            <template if:false={userEditAccess}>
                                                <div class="slds-form-element slds-form-element_stacked slds-grid">
                                                    <div class="slds-col">
                                                        <label
                                                            class="slds-form-element__label slds-form-element__legend">Notify
                                                            Type</label>
                                                        <div class="slds-form-element__control">
                                                            <lightning-formatted-text value={loadData.notifyDayType}>
                                                            </lightning-formatted-text>
                                                        </div>
                                                    </div>
                                                    <div class="slds-col">
                                                        <label
                                                            class="slds-form-element__label slds-form-element__legend">Notify
                                                            Days</label>
                                                        <div class="slds-form-element__control">
                                                            <lightning-formatted-text value={loadData.notifyDays}>
                                                            </lightning-formatted-text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </template>
                                        </template>
                                    </div>
                                </div>
                            </template>
                            <template if:true={showFilterField}>
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_stacked">
                                            <template if:true={userEditAccess}>
                                                <lightning-input type="text" label="Record Filter Condition"
                                                    value={loadData.recordFilterCriteria}
                                                    onchange={handleRecordFilterCriteriaChange}
                                                    max-length={loadData.recordFilterCriteriaSize}>
                                                </lightning-input>
                                            </template>
                                            <template if:false={userEditAccess}>
                                                <label class="slds-form-element__label slds-form-element__legend">Record
                                                    Filter
                                                    Condition</label>
                                                <div class="slds-form-element__control">
                                                    <lightning-formatted-text value={loadData.recordFilterCriteriaSize}>
                                                    </lightning-formatted-text>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <div class="slds-section slds-is-open">
                                <h3 class="slds-section__title slds-theme_shade">
                                    <span class="slds-truncate slds-var-p-horizontal_small" title="Section Title">Email
                                        Body</span>
                                </h3>
                                <div aria-hidden="false" class="slds-section__content">
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_stacked">
                                                <template if:true={userEditAccess}>
                                                    <lightning-input type="text" label="Title" value={title}
                                                        onchange={handleTitleChange} required>
                                                    </lightning-input>
                                                </template>
                                                <template if:false={userEditAccess}>
                                                    <label
                                                        class="slds-form-element__label slds-form-element__legend">Title</label>
                                                    <div class="slds-form-element__control">
                                                        <lightning-formatted-text value={loadData.title}>
                                                        </lightning-formatted-text>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <div class="slds-form-element slds-form-element_stacked">
                                                <template if:true={userEditAccess}>
                                                    <lightning-input-rich-text data-id="richtext" label="Message"
                                                        label-visible value={loadData.messageBody} formats={formats}
                                                        onchange={handleMessageChange}>
                                                    </lightning-input-rich-text>
                                                </template>
                                                <template if:false={userEditAccess}>
                                                    <label
                                                        class="slds-form-element__label slds-form-element__legend">Message</label>
                                                    <div class="slds-form-element__control">
                                                        <lightning-formatted-rich-text value={loadData.messageBody}>
                                                        </lightning-formatted-rich-text>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <template if:true={loadMergeFieldPopup}>
                                <c-notify_merge-field-popup object-api-name={loadData.selectedObjectName}
                                    onclosemodal={closeModal}>
                                </c-notify_merge-field-popup>
                            </template>
                            <template if:true={showTestResultModal}>
                                <section role="dialog" tabindex="-1" aria-modal="true"
                                    class="slds-modal slds-fade-in-open">
                                    <div class="slds-modal__container">
                                        <header class="slds-modal__header">
                                            <button
                                                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                title="Close" onclick={closeTestResultModal}>
                                                <lightning-icon icon-name="utility:close" variant="inverse">
                                                </lightning-icon>
                                                <span class="slds-assistive-text">Close</span>
                                            </button>
                                            <h2 class="slds-modal__title slds-hyphenate">
                                                Test Notification Result
                                            </h2>
                                        </header>
                                        <div class="slds-modal__content slds-var-p-around_large">
                                            {testNotificationResponse}
                                        </div>
                                        <footer class="slds-modal__footer">
                                            <button class="slds-button slds-button_neutral"
                                                onclick={closeTestResultModal}>
                                                OK
                                            </button>
                                        </footer>
                                    </div>
                                </section>
                                <div class="slds-backdrop slds-backdrop_open"></div>
                            </template>
                        </div>
                    </div>
                    <footer class="slds-card__footer slds-text-align_right">
                        <template if:true={userEditAccess}>
                            <lightning-button-icon icon-name="utility:merge_field" alternative-text="Add Merge Field"
                                title="Merge Field" onclick={handleMergeFields}>
                            </lightning-button-icon>
                            <lightning-button variant="brand" label="Test" title="Test" onclick={testNotificationConfig}
                                class="slds-var-m-left_x-small">
                            </lightning-button>
                            <lightning-button variant="brand" label="Save" title="Save" onclick={validateAndSaveRecord}
                                class="slds-var-m-left_x-small">
                            </lightning-button>
                        </template>
                        <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={closeConfigWindow}
                            class="slds-var-m-left_x-small"></lightning-button>
                    </footer>
                </article>
            </template>
        </template>
        <template if:false={hasNotificationSetting}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Error</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        Please create a notification setting first to proceed.
                    </div>
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_brand" onclick={moveToNotificationSetting}>OK</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </div>
</template>