<template>
    <div class="slds-form slds-p-around_medium container">
        <div class="slds-page-header slds-p-top_medium slds-p-bottom_medium" style="background-color: white;">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name={portalTemplatePartRecord.iconType}
                                alternative-text="Custom" title="Custom">
                            </lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1>
                                        <span class="slds-page-header__title slds-truncate"
                                            title={portalTemplatePartRecord.templateName}>{portalTemplatePartRecord.templateName}</span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-p-around_medium">
            <lightning-datatable class="exchangetable" key-field="partId" data={portalTemplatePartRecord.partRecordsList} 
            hide-checkbox-column columns={exchangeColumns} oncellchange={handleChange} draft-values={myValues}></lightning-datatable>
        </div>
    </div>
</template>