.THIS {
}

.THIS .popupClass{
    z-index : 3;
}

.THIS .popupStyle {
    /*background: #0A61AE */
}

.THIS .circle {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;   
}

.THIS .rectangle {
    height: 12px;
    width: 35px;
    background-color: #555;
    display: inline-block;
}

.THIS .tabelCss{
    border: 1px solid #ffffff;
    border-collapse: collapse;
    font-size:12px;
    color:#ffffff;
    background-color:#005fb2;
}

.THIS .tableHeaderCss {
    padding: 5px;
    text-align: left;    
    font-weight: normal;
}

.THIS .icn svg {
    fill : #0A61AE;
    vertical-align: top !important;
}
.THIS .icn{
    background-color:#ffffff;
    vertical-align: top !important;
}

.THIS .trendStyle {
    display:inline-block; 
    font-size:15px; 
    padding-left:75px;
}

.THIS .spacing{
    padding-right:15px;
    padding-left:15px;
}

.THIS .custom-container {
    min-width: 650px !important;
}

.THIS .layoutStyle {
    width:100%;
}

.THIS .filterStyle {
    position: absolute; 
    bottom: 0; 
    width:100%; 
}

.THIS .lineStyle{
    height:1px; 
    width:100%; 
    background:#DDDBDA; 
}

.THIS .thStyle {
    font-size:13px; 
    text-align:center;
}

.THIS .tdStyle{
    color:#000000; 
    font-size:12px; 
    text-align:center;
}

.THIS .uiLabel{
    margin-top:3px;
}