.THIS .cusdiv{
    width:100%;
}
.THIS .highcharts-credits{
    display:none;
}
.THIS .cashFlowChart path.highcharts-point {
    display:none;    
}
.THIS path.highcharts-point {
    display:none;    
}

.THIS.hideDiv {
    display: none;
}

.THIS .cashFlowTable tr:nth-child(even){
    background-color: #c9daf8;
}

.THIS .cashFlowTable thead th{
    background-color: #4fadf1;
    color: white
}

.THIS .boldText{
       font-weight: bold;
}