.THIS.spinner-container .slds-spinner_container {
   position: relative !important;
   top: 30px !important;
   left: 50% !important;
}

.THIS .odd-even tr:nth-child(odd){ 
    background-color: #efefef ;
    /* #c5d5f0*/
}
/*  Define the background color for all the EVEN background rows  */
.THIS .odd-even tr:nth-child(even){
    background-color: white;
}