.THIS .alignCustom {
  float: right;
}

.THIS .bgColor {
  background: #16325c;
  color: white;
}

.THIS .slds-modal__content {
  overflow-y: unset !important;
  max-height: unset !important;
}

.THIS .filesTable {
  max-height: 15rem;
  overflow-y: auto;
}

.THIS .slds-form-element__label {
  font-size: 13px;
  color: rgb(8, 7, 7);
}

.THIS .custom_Wrap {
  white-space: normal;
}