.THIS .columnHeader{
    
    border-bottom:gray 2px solid !important;
    color: rgb(14, 60, 86)  !important;
}

.THIS .table-header{
    background-color : #475780;
    color:white;
    padding: 5px;
    font-weight : 600;
}
.THIS .tableTitle {
    color : #28a6e0;
    font-weight:600;
    font-size:16px;
    
}

.THIS .leaseTitle{
    color:#475780;
    font-weight:600;
    font-size:16px;
}
.THIS .boxBgColor{
    background-color: white
}