<template>
    <div class="slds-p-around_small">
        <lightning-layout horizontal-align="spread" vertical-align="center" multiple-rows="true" padding="around-small">
            <template if:true={filterField}>
                <template if:false={isPicklist}>
                    <lightning-layout-item size="10">
                        <div>
                            <lightning-input class="filtervalidation" name={filterField.fieldName}
                                type={filterField.filterType} label={filterField.fieldLabel}
                                onchange={handleFilterInput}></lightning-input>
                        </div>
                    </lightning-layout-item>
                </template>
                <template if:true={isPicklist}>
                    <lightning-layout-item size="10">
                        <div>
                            <lightning-combobox class="filtervalidation" name={filterField.fieldName}
                                label={filterField.fieldLabel} options={picklistOptions} onchange={handleFilterInput}>
                            </lightning-combobox>
                        </div>
                    </lightning-layout-item>
                </template>
                <template if:true={isCompSign}>
                    <template if:true={isDateOrNumber}>
                        <lightning-layout-item size="2">
                            <div>
                                <lightning-combobox class="filtervalidation" style="width: fit-content;" name="compsign"
                                    label='Filter' options={filterOptions} value={inputFilter}
                                    onchange={handleFilterInput}></lightning-combobox>
                            </div>
                        </lightning-layout-item>
                    </template>
                </template>
            </template>
        </lightning-layout>
    </div>
</template>