.THIS .myForm .slds-checkbox{
    padding-top: 18px;
}

.THIS .myForm .slds-form-element__label{
    font-size : .75rem !important;
}

.THIS .header {
    background-color: rgb(243, 242, 242); 
    font-size: .875rem;
}

.THIS .error {
    color: red;
}

.THIS .slds-docked-form-footer {
    z-index: 1000 !important;
}