<template>
  <!--Use template if:true to display/hide popup based on isModalOpen value-->

  <template if:true={showPreview}>
    <!-- Modal/Popup Box LWC starts here -->
    <section
      role="dialog"
      tabindex="-1"
      aria-labelledby="modal-heading-01"
      aria-modal="true"
      aria-describedby="modal-content-id-1"
      class="slds-modal slds-fade-in-open"
    >
      <div class="slds-modal__container">
        <!-- Modal/Popup Box LWC header here -->
        <header class="slds-modal__header">
          <button
            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
            title="Close"
            onclick={closeModal}
          >
            <lightning-icon
              icon-name="utility:close"
              alternative-text="close"
              variant="inverse"
              size="small"
            >
            </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2
            id="modal-heading-01"
            class="slds-text-heading_medium slds-hyphenate"
          >
            {previewTitle}
          </h2>
        </header>
        <!-- Modal/Popup Box LWC body starts here -->
        <div
          class="slds-modal__content slds-p-around_medium"
          id="modal-content-id-1"
        >
          <p>
            <lightning-formatted-rich-text value={previewData.richTextArticle}>
            </lightning-formatted-rich-text>
          </p>
          <br />
          <template if:true={showArticleLink}>
          <center>
            <p>
              <a onclick={handleRedirect}>
                <u>
                  {previewLinkText}
                </u>
              </a>
            </p>
          </center>
        </template>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>

  <lightning-card>
    <div class={customHeightCss}>
      <template if:true={showTitle}>
        <div
          style="
            display: inline-block;
            padding-left: 15px;
            padding-bottom: 10px;
          "
        >
          <template if:true={hasUrl}>
            <slot name="title">
              <img src={iconImage} class="customIcon" width="24" height="24" />
              &nbsp;
              <span class="slds-m-left--x-small">{titleName}</span>
            </slot>
          </template>
          <template if:false={hasUrl}>
            <lightning-icon icon-name={iconImage} size="small"></lightning-icon>
            &nbsp;
            <span class="slds-m-left--x-small">{titleName}</span>
          </template>
        </div>
      </template>
      <div style="margin-right:0px;margin-bottom:10px;">
       
          <div class="slds-grid slds-wrap">
            <template if:true={showDate}>
            <div class="slds-size_2-of-2">
              <div class="inputAreaStyle" >
                <lightning-layout-item>
                  <lightning-input
                    type="search"
                    onchange={handleKeyChange}
                    class="searchbar"
                    label="Search"
                    value={searchKey}
                  ></lightning-input>
                </lightning-layout-item>
              </div>
            </div>
            </template>
            <div class="slds-size_1-of-2">
              <div class="inputAreaStyle">
                <lightning-layout-item>
                  <lightning-input type="date" class="customStyle" label="From Date" onchange={handleStartDateChange} value={startDateValue}>
                  </lightning-input>
                </lightning-layout-item>
              </div>
            </div>
            <div class="slds-size_1-of-2">

              <div class="inputAreaStyle">
                <lightning-layout-item>
                  <lightning-input type="date" class="customStyle" label="To Date" onchange={handleEndDateChange} value={endDateValue}>
                  </lightning-input>
                </lightning-layout-item>
              </div>
            </div>
            
            <template if:true={showDate}>
            <div class="slds-size_1-of-2">
              <div class="inputAreaStyle">
                <lightning-layout-item>
                  <lightning-combobox
                    name="progress"
                    label="Region"
                    value={regionVal}
                    onchange={handleRegionChange}
                    options={regionPicklist} ></lightning-combobox>
                </lightning-layout-item>
              </div>
            </div>
            <div class="slds-size_1-of-2">

              <div class="inputAreaStyle">
                <lightning-layout-item>
                  <lightning-combobox
                    name="progress"
                    label="Category"
                    value={categoriesVal}
                    onchange={handleCategoryChange}
                    options={categoryPicklist} ></lightning-combobox>
                </lightning-layout-item>
              </div>
            </div>
            </template>

          </div>
        
          <lightning-layout-item padding="around-small" size="12">
            <div
              class="slds-m-top_small slds-m-bottom_medium slds-align_absolute-center"
            >
              <lightning-button
                align="center"
                variant="brand"
                label="Search"
                onclick={handleSearch}
                class="slds-m-left_x-small"
              ></lightning-button>
              <lightning-button
                align="center"
                variant="brand"
                label="Reset"
                onclick={handleClear}
                class="slds-m-left_x-small"
              ></lightning-button>
            </div>
          </lightning-layout-item>
     
      
      <div style="overflow: hidden;">
      <lightning-datatable 
        data={data}
        min-column-width="50"
        max-column-width="2500"
        column-widths-mode="auto"
        columns={newsColumns}
        key-field="Id"
        hide-checkbox-column="true"
        onrowaction={handelActionRow}
      >
      </lightning-datatable>
    </div>
      <template if:true={showMissedText}>
      <div class="filterMessageStyleTop">
        <center>
        <span>{missedText}</span>
      </center>
      <div class="filterMessageStyleBottom"></div>
      </div>

    </template>
    </div>
      <template if:true={isProcessing}>
        <lightning-spinner
          alternative-text="Loading..."
          variant="brand"
          size="medium"
        ></lightning-spinner>
      </template>
      <!--  </template>-->
      <lightning-layout-item padding="around-small" size="12">
        <div class="slds-align_absolute-center">
          <lightning-button
            class="slds-m-right_small"
            variant="brand"
            label="Refresh"
            onclick={handleClick}
          >
          </lightning-button>
        </div>
      </lightning-layout-item>
      <!-- </div> -->
      <lightning-layout>
        <lightning-layout-item> </lightning-layout-item>
        <lightning-layout-item>
          <lightning-button
            label="Previous"
            icon-name="utility:chevronleft"
            onclick={handlePrevious}
            disabled={disablePrevButton}
          ></lightning-button>
        </lightning-layout-item>
        <lightning-layout-item flexibility="grow"></lightning-layout-item>
        <lightning-layout-item>
          <lightning-button
            label="Next"
            icon-name="utility:chevronright"
            icon-position="right"
            onclick={handleNext}
            disabled={disableNextButton}
          ></lightning-button>
        </lightning-layout-item>
        <lightning-layout-item> </lightning-layout-item>
      </lightning-layout>
      <p class="slds-m-vertical_medium content">
        Page <b>{pageNumber}</b>
      </p>
    </div>
  </lightning-card>

</template>