.inputAreaStyle {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.applyHeight {
  overflow: auto;
  height: var(--heightCust);
}

.defaultHeight {
    overflow: auto;
  }
  

.titleHeaderStyle {
  color: #285392;
  font-size: 16px;
  font-weight: bold;
}

.filterMessageStyleTop {
  font-style: italic; 
  width:100%;
  padding-top:10px;
}

.filterMessageStyleBottom {
  height:1px;
  background:#dad7d7; 
  margin-top:10px;
}

.customStyle > lightning-calendar {
  position:fixed;
}