.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}

.THIS .custom .slds-m-around_xx-large {
    margin:0px;
}

.THIS .custom .slds-modal__container{
    max-height : 100%;
    width: 90%;
    max-width: 90rem;
}

.THIS .custom .modal-body {
    height:auto !important;
    max-height: 100% !important;
}

.THIS .tdTitleStyle {
    width:20%;
    text-align:right;
    vertical-align:top;
    padding-top: 20px;
}

.THIS .tdInputStyle {
    width:60%;
    text-align:left;
    vertical-align:top;
}