.THIS .div1Center{
	text-align:center;
}
.THIS .infoClass .slds-icon-text-default{
    fill: #C6C5C4 !important;
}
.THIS .slds-backdrop{
    opacity: 1;
    visibility: visible;
}
.THIS .anchorStyle{
    font-size: x-small;
    display: block;
}
.THIS .slds-form-element__label{
    display: block;    
}
.THIS .uiMessage.error {
    background-color: rgb(194, 57, 52);
    color: rgb(255, 255, 255);
}