.THIS .outtextStyle{
    font-size:14px; 
    color:#000000;
}

.THIS .inputTextStyle{
    font-size:14px; 
    color:#005fb2;
}

.THIS .cardStyle {
    background: #0A61AE;
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:center;
}

.THIS .thTextStyle{
    color:#ffffff;
    font-size:13px; 
    text-align:center;
}

.THIS .inputTextStyle{
    font-size:12px; 
    width:90px; 
    color:#005fb2;
}

.THIS .inputBoxStyle{
    font-size:12px; 
    width:170px;
}


.THIS .rightInputTextStyle{
    font-size:12px; 
    width:90px; 
    color:#005fb2;
    margin-left:0px;
}

.THIS .rightInputBoxStyle{
    font-size:12px; 
    width:170px;
    margin-right:1px;
}

.THIS .textFieldStyle{
    margin: auto;
    text-align:left;
}

.THIS .imgStyle{
    height:20px;
}

.THIS .table{
    border-color: #ffffff;
}

.THIS .moreStyle {
    max-width: 100%;  
    /*margin: 40px auto;*/
}

.THIS .moreStyleLabel {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #005fb2;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.THIS .moreStyleLabel:before {
    content: '';
    background: #005fb2;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.THIS .moreStyleLabel:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding-top: 0em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.8em;
    color: #005fb2;
    background-color: #fcfcfa;
}

.THIS .ratioTableStyle{
    height:20px;
    width:40px;
}

.THIS .ratioTableHeaderStyle{
    font-size:12px; 
    color:#005fb2;
}