.THIS .uiInputDate .field{
    width:100% !important;
}

.THIS .uiButton--default .label{
    color:#fff !important;
}




@media screen and (min-width: 800px) {
    .THIS .mobile-only{
        display:none;
    }
    .THIS .slds-page-header{
        width: 80%;
        margin: 15px auto;
        border: 1px solid rgb(216, 221, 230) !important;
    }
    
    .THIS .slider-container{
        margin-top:3em;
       	width:100% !important; 
        padding-left:15px;
    }
    .THIS .container{
        width: 100%;
        padding:15px;
    }
    
    .THIS .box{
        width:80%;
        margin:15px auto;
        background-color :#fff;
        border-radius:5px;
        padding:15px;
    }
    
    .THIS .slds-select{
        width:33.0666666% ;
        border-radius : 0 ;
        padding: 10px ;
        height: calc(1.875rem + (1px * 20)) ;
        border-right:0;
    }
    .THIS .border-right{
        border-right:1px solid rgb(216, 221, 230);
    }
    
    .THIS .stbox{
        margin-top:3em !important;
    }
    
    .THIS .slds-date{
        width:95% !important;
    }
}
@media screen and (max-width: 800px) {
    .THIS select::-ms-expand {
        display: none;
    }
    .THIS .mobile-hide{
        display:none;
    }
    .THIS .slds-select,.THIS .slds-form-element{
        margin-top:1.2em;
        height: calc(1.875rem + (1px * 10));
    }
    .THIS .slds-date{
        margin-top:.5em !important;
        height: calc(1.875rem + (1px * 1)) !important;
    }
    .THIS .slds-select:active,.THIS .slds-select:hover,.THIS .slds-select:focus{
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important; 
        box-shadow: 0 0 0 #fff !important;
    }
    
    .THIS .bottom-btn-container{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4em;
        position: absolute;
    }
    .THIS .btn-full{
        width:100% !important;
        height:100% !important;
    }
    .THIS .slider-container{
        margin-top:2em;
        margin-bottom:2em;
        width:100% !important;
        padding-left:.5em;
        padding-right:.5em;
    }
    .THIS hr{
        margin:0 !important;
    }
    .THIS label{
        padding :.4em !important;
    }
    .THIS .slds-select{
        border : 0px !important;
        border-bottom: 1px solid rgb(216, 221, 230) !important;
    }
    
}