.THIS .slds-icon-text-default{
	/*fill: rgb(255, 255, 255) !important; */
}

.THIS .slds-input{
    width : 100%;
}

.THIS .slds-button--brand{
    margin-left: 201px;
}

.THIS .slds-form-element{
	/*margin-top: 5px !important;*/
}

.THIS.myContainer .slds-form-element__label{
    font-size : .75rem !important;
}

.THIS.slds-spinner_container{
    background-color : unset !important;
}

.THIS .modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.THIS .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.THIS .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.THIS .slds-modal_prompt .slds-modal__close{
    display: block;
}

.THIS .slds-modal--prompt .slds-modal__close {
        display: block;
}

.THIS .customBtn .slds-icon_small {
    
    fill : white;
}

.THIS .slds-docked-form-footer{
    z-index : 0 !important;
}
.THIS.slds-spinner_container{
    z-index : 9999 !important;
}

.THIS .slds-progress-bar__value{
    background-color:green;
}

.THIS .custPopup{ background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 2px 0 rgba(126,140,153,.8);
    transition: opacity .4s linear;
    z-index: 9999; 
    left: 50%;
    padding:10px; position: absolute; /* These are the 3 css properties you will need to change so the popup displays in the center of the screen. First set the width. Then set margin-left to negative half of what the width is. You can add the height property for a fixed size pop up if you want.*/
    width: 500px; 
    margin-left: -250px;
    top:40%; 
}

.THIS .popupBackground{ 
    background-color:black;
    opacity: 0.20; 
    filter: alpha(opacity = 20); 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    z-index: 9998; 
}