<template>
    <div data-id="lookupContainer"   class="slds-form-element slds-lookup slds-is-close" data-select="single">
        <!--This part is for display search bar for lookup-->  
        <div class="slds-form-element__control">
            <template if:true={recordSelected}>
                <span class="slds-required" if:true={required}>*</span>
                <label class="slds-form-element__label" for="lookup-348">
                    {fieldLabel}
                </label>
            </template>
            <div class="slds-input-has-icon slds-input-has-icon--right">
                    <span if:false={recordSelected}>
                        <lightning-icon class="slds-input__icon slds-icon_small"  icon-name="utility:search" size="x-small" alternative-text="search" ></lightning-icon>
                    </span>

                    <!-- This markup is for when a record is selected -->
                    <div class="slds-pill-container" if:true={recordSelected}>
                        <span class="slds-pill" style="width:100%;padding: .10rem;">
                            <span class="slds-icon_container slds-combobox__input-entity-icon" style="margin-left: 2px;" title="record">
                                <lightning-icon  class="lookup-icon" icon-name={iconName}  size="x-small" alternative-text="search" ></lightning-icon>
                            </span>
                            <span class="slds-pill__label slds-p-left_x-large">
                                {selectRecordName}
                            </span>

                            <lightning-button-icon icon-name="utility:close" size="x-small"  alternative-text="Clear" title="Clear" onclick={resetData}></lightning-button-icon>

                        </span> 
                    </div>
                    <lightning-input if:false={recordSelected} required={required} onfocus={searchField} data-id="userinput" label={fieldLabel} name="searchText" onblur={closeResultSection} onchange={searchField} value={selectRecordName}></lightning-input>
            </div>
        </div>

        <ul class="slds-listbox slds-listbox_vertical slds-lookup__menu slds-dropdown slds-dropdown_fluid slds listbox" role="listbox">
            
            <li if:true={showSpinner}>
                <center>  
                    <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                </center>
            </li>

            <template for:each={searchRecords} for:item="serecord">
                <li key={serecord.recId} data-id={serecord.recId} data-name={serecord.recName}  role="presentation" class="slds-listbox__item" onmousedown={setSelectedRecord}>
                    <span class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                        <span class="slds-media__figure">
                            <span class="slds-icon_container" style="margin-left: 2px;" title="record">
                                <lightning-icon icon-name={iconName}  size="small"></lightning-icon>
                            </span>
                        </span>    
                        <span class="slds-media__body">  
                            <span class="slds-listbox__option-text slds-listbox__option-text_entity" style="margin-top: 5px;">{serecord.recName}</span>
                        </span>
                    </span>
                </li>
            </template>

            <li if:true={messageFlag}><center>No results found.</center></li>
        </ul>  
    </div>
</template>