.THIS .table-head_class {
    background-color: rgba(211, 218, 221, 1);
    height:2rem;
    font-size: 13px;
    font-weight: bold;
}

.THIS .tdStyle{
    float : right;
}
.THIS .fixedHeight{
    width:30px;
    height: 40px;
}
.THIS .table-row_heading{
    text-align: left;
    font-weight: bold;
}
.THIS .datePicker-openIcon {
    display : none;
}
.THIS img {
    max-width: 80% !important;
}
.THIS .col-width{
    width: 20%;
}
.THIS .slds-icon{
    fill: darkgrey !important;
}
.THIS .slds-form-element__label:empty{
    display : none;
}

.THIS .contentStyle{
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}