<template>
    <c-notify_lookup-utility-child selection={initialSelection} onsearch={handleSearch} errors={errors}
        onselectionchange={handleLookupSelectionChange} onplaceholderchange={updatePlaceholder}
        onnotifyuser={notifyUserFromChild} label={label} placeholder={placeholder} is-multi-entry={isMultiEntry}
        is-multi-entry-records={isMultiRecords} object-list={objectList} required={required} record-count={recordCount}
        max-selection-size={maxSelectionSize}>
    </c-notify_lookup-utility-child>
</template>