.THIS .even {
    /*background-color: white;*/
}
.THIS .odd {
    /*background-color: #ccc;*/
}
.THIS .hasevent {
    background-color: pink !important;
}
.THIS .llpBasic{
    display:none !important;
}
.THIS .llpLimiter{
    display:none !important;
}
.THIS .hideColumn {
    display:none;
}
.THIS .historicalMonth   {
    /*display: none !important;*/
}
.THIS .lastHistoricalRecord > td{
    border-bottom: 3px solid #000000;
}
.THIS .shortfallWaterMark{
    border-bottom: 4px solid #FF0000 !important;
}
.THIS #forecast_DataTable{
    position: relative;
    overflow: hidden;
}
/*thead*/
.THIS #forecast_DataTable thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    overflow: visible;
}
.THIS #forecast_DataTable thead th {
    min-width: 130px;
    max-width: 130px;
    height: 30px;
    
}
.THIS #forecast_DataTable thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    min-width: 80px;
    max-width: 80px;
    display: block; /*seperates the first cell in the header from the header*/
    z-index:1;
    background-color : white;
    height: 40px;
}
/*tbody*/
.THIS #forecast_DataTable tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    height: 220px;
    overflow: auto;
}
.THIS #forecast_DataTable tbody td {
    min-width: 130px;
    max-width: 130px;
    
}
.THIS #forecast_DataTable tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    /*background-color : white;*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    min-width: 80px;
    z-index:1;
}
.THIS .sticky-col{
    left: 0;
    position: absolute;
    top: auto;
    width: 22%;
    min-width: 22%;
    max-width: 22%;
}
.THIS .EOLA{
    display: none;
}
.THIS.slds-backdrop{
    opacity: 1;
    visibility: visible;
}
.THIS .nonHrefStyle > a{
    color: rgb(22, 50, 92);
    pointer-events: none;
    cursor: text !important;
}
.THIS.slds-scope .slds-tabs_default__content{
    padding: 0px !important;
}
.THIS .slds-table_striped tbody tr:nth-of-type(even)>td{
    background-color: rgb(216, 237, 255);
}
.THIS .slds-table_striped tbody tr:nth-of-type(odd)>td{
    background-color: #FFFFFF;
}
.THIS .borderRight{
    border-right:1px solid black;
}
.THIS .borderLeft{
    border-left:1px solid black;
}
.THIS .borderTop{
    border-top:1px solid black;
}
.THIS .borderBottom{
    border-bottom:1px solid black;
}
.THIS .imgclass{
    height: 25px !important;
    float:left !important;
    padding-right:10px !important;
}
.THIS .serialclass{
    bottom: 0.55em !important;
    overflow: hidden !important;
}
.THIS .tooltip{
    position: absolute !important;
}
.THIS .toptooltip{
    top: 0px !important;
    left: 91px !important;
}
.THIS .slds-popover_tooltip{
    max-width: 40rem !important;
}
.THIS .slds-fall-into-ground{
    display:none !important;
}

.THIS .bottomRowsTooltip{
    bottom: -11px;
    left: 40px;
}

.THIS .topRowsTooltip{
    top: 30px;
    left: 0px; 
}

.THIS .middleRowsTooltip{
    left: 47px;
    top: -12px;
}

.THIS .lastColumnTopRowsTooltip{
    left: -370px;
    top: 30px; 
}

.THIS .lastColumnBottomRowsTooltip{
    top: -150px;
    right: 139px;
}

.THIS .lastColumnMiddleRowsTooltip{
    right: 140px;
    top: -11px;
}