.THIS .txt-align-center {
    text-align :center;
}
.THIS .numberAlign{
    text-align: right;
}
.THIS .table-header{
    background-color : #28a6e0;
    color:white;
    padding: 5px;
    font-weight : 600;
}
.THIS .boxBgColor{
    background-color: white
}
.THIS .paddingTop{
    padding-top: 0;
}
.THIS .tableTitle {
    color : #28a6e0;
    font-weight:600;
    font-size:16px;
    border-bottom: 1px solid #28a6e0;
}
.THIS .button {
    
    border: none;
    color: white;
    padding: 10px 32px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    Width : 100% !important;
    margin-bottom : 10px;
    background-color:#475780;
}

.THIS .odd-even tr:nth-child(odd){ 
    background-color: #efefef ;
    /* #c5d5f0*/
}
/*  Define the background color for all the EVEN background rows  */
.THIS .odd-even tr:nth-child(even){
    background-color: white;
}