.THIS .myForm .slds-checkbox{
   padding-top: 18px;
}

.THIS .myForm .slds-form-element__label{
    font-size : .75rem !important;
}

.THIS .header {
    background-color: rgb(243, 242, 242); 
    font-size: .875rem;
}

.THIS .error {
    background: #c23934;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #c23934;
    text-align: center;
    width: 50%;
}

.THIS .slds-docked-form-footer {
    z-index: 1000 !important;
}

.THIS .slds-pill_container {
    border: none !important;
}