.THIS {
}

.THIS .tableOuttextStyle {
    text-align:left; 
    vertical-align: top;
    white-space: pre-wrap;
}

.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}