/*.THIS .headerTitle{
    margin-left: 3.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.THIS .img-cls{

    height : 5rem;
    max-width : 14rem;
}

.THIS .header-div{
    height : 6rem;
}*/

/*
@media screen and (max-width: 600px) {
    .THIS .headerTitle {
        font-size: 0.8rem !important;
        margin-left: 1.8rem;
    }
    .THIS .img-cls{

        height : 2.5rem;
    	max-width : 10rem;
    }
    .THIS .header-div{
        height :3.3rem !important;
    }
}*/

/* ----------------- */
/* 
.THIS .header-right {
  float: right;
}

.THIS.header {
  overflow: hidden;
}

.THIS.header a {
    
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;  
  color:white;  
  background-color: #ff6a00;
  float:left;
  
  
    
}


 @media screen and (max-width: 700px) {
  .THIS.header a {
    float: none;
    display: block;

  }
  
  .THIS .header-right {
    float: none;
  }
    
  .THIS .title{
        width:50%;
    }  
}*/

/* ============ */
.THIS .title {
    font-size:24px;
    margin-left: 15px;
    font-weight: 300;
}
.THIS.container {
  height: 80px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.THIS.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

/*
.THIS.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  text-decoration:none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65px;
} */

.THIS.container .logo img {
  max-width: 100%;
  max-height: 65px;
}

.THIS.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.THIS.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.THIS.container .navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  padding: 0 10px;
}

.THIS.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: #475780;
}

.THIS.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.THIS.container .navbar ul .close span {
  font-size: 24px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.THIS.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.THIS.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 999px) {
 .THIS.container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

.THIS .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

 .THIS.container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

 .THIS.container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

 .THIS.container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

 .THIS.container .navbar ul .close {
    display: block;
  }

  .THIS.container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

 .THIS.container .navbar ._Menus-show {
    left: 0;
  }
       
    .THIS.container .navbar .icon-bar{
        width: 40px;
  		height: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .THIS .title{
        font-size: 0.8rem;
        width: 75px;
        margin-left: 2px;
   }
    
   .THIS.container .logo {
      max-width: 150px;
      padding: 0 5px;
    } 
    
    .THIS.container .logo img {
      max-width: 90%;
      max-height: 45px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
	.THIS .title{
        width: 200px;
        font-size: 1rem;
   }
}