.THIS .cashFlowMainTable{
   display: inline-block !important;
   position: relative !important;  
}

.THIS .cashFlowMainTable tbody tr:nth-child(2n+1){
    background-color: #c9daf8;
}

.THIS .cashFlowMainTable thead th{
    background-color: #4fadf1 !important;
    color: white!important;
}

.THIS .setHeight{
    height:35px !important;
    max-height:35px !important;
    min-height:35px !important;
}

.THIS .crossIcon .slds-icon-text-default{
    fill:white !important;
}