.THIS .boxDiv{
    background-color: #f2f2f2;
    border: 1px solid red;
}

.THIS .crossIcon .slds-icon-text-default{
    fill:white !important;
}

.THIS .boxDivAfterSave{
    background-color: white;
    border: 1px solid gray;
}

.THIS.hideDiv {
    display: none;
}
.THIS .slds-p-bottom_xx-large{
    padding-bottom: 7.9rem !important;
}
.THIS .imageDiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateZ(0) translateX(-50%) translateY(-50%);
}

.THIS .containerTSModal{
    max-width: 50rem !important; 
}

.THIS .containerOEModal{
    max-width: 75rem !important; 
}

.THIS .label{
    min-width: 6.1rem !important;
}

.THIS .containerModal{
    max-width: 45rem !important;
}

.THIS .boxDiv:hover{
    border-color: blue;
    /*text-color:white !important;*/
}

.THIS .boxTitle{
    font-size: 0.75rem !important;
    color: rgba(112, 110, 107, 0.5215686274509804) !important;
    font-weight: 600 !important;
}

.THIS .boxTitleAfterSave{
    font-size: 0.75rem !important;
    color: black !important;
    font-weight: 600 !important;
}

.THIS .boxTitle:hover{
    color:white !important;
}

.THIS .headerDiv{
    color: white !important;
}

.THIS .followIcon svg{
    fill: #36afee !important;
    width: 0.7rem !important;
    height: 0.7rem !important;
}

.THIS .followIcon {
    border-radius: 50%;
    border: 1px solid #36afee;
    padding: 1px;
}

.THIS .boxReqDiv{
    color: red;
    font-size: xx-large;
    float: right;
    line-height:1;    
}

.THIS .slds-slider-label__range{
    display:none !important;
}

.THIS .toggleDiv{
    width: 100;
    padding-left:2px;
}

.THIS .toggleTitle{
    float: left;
}

.THIS .slds-checkbox--faux {
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
}
.THIS .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--on {
    display: inline-block !important;
    /*color: #28B463;*/
    
}


.THIS .slds-checkbox--toggle [type=checkbox]+.slds-checkbox--faux_container .slds-checkbox--off {
    display: inline-block !important;
}

.THIS .slds-checkbox--toggle [type=checkbox]:checked+.slds-checkbox--faux_container .slds-checkbox--off {
    display: none !important;
}

.THIS .slds-checkbox--on, .THIS .slds-checkbox--off {
    padding-right: 5px !important;
}

.THIS .afterSaveText{
    font-weight: bold;
    color: #1b5297;
    font-size: x-large;
}

.THIS .FHCOAfterSave{
    background-image: url(/resource/FHCO_V1);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 1px solid gray;
    
}

.THIS .slds-section__content{
    background-color: white;
}

.THIS .slds-lookup{
    padding-left:20px;
}

.THIS .Scenario-name{
    padding-left: 51px;
    margin-top: 3px;
    
}

.THIS .slds-modal__container{
    padding-bottom: 5px !important;
}





.THIS .subPageHeader1{
    background-color: #1b5297;
    padding: 0.2rem !important;
}

.THIS .slds-section__content{
    padding-bottom:3rem !important;
}

.THIS .technicalSlider{
    padding-left:13rem !important;
}

.THIS .Historical{
    width:100%;
}

.THIS .Impact{
    padding-top : 0.95rem;
}

.THIS .tableContent{
    
}

.THIS .inputStyle{
    margin-top: -15px;
}

.THIS .section3{
    width: 12rem !important;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.THIS .inputStyleCostFED input{
    width: 160px !important;
    /* margin-top: -15px; */
}

.THIS .inputStyleCostFED label{
    display:none;
}


.THIS .inputStyleCost input{
    width: 130px !important;
    /* margin-top: -15px; */
}
.THIS .inputStyleCost label {
    display:none;
}
.THIS .Aircraft-inp{
    padding-right: 47px;
}

.THIS .foreCast-grid{
    padding-left:20px;
    padding-right:20px;
}

.THIS .btn .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_on{
    display:none;
}

.THIS .btn .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_off{
    display:none;
}

.THIS .forecastSpan{
    color:#088a3f;
    font-weight:600;
}
.THIS .customBtn .slds-icon_small {
    
    fill : white;
}
.THIS .customBtnneutral{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.THIS .slds-datepicker .slds-day {
    display : contents;
    position: absolute;
    z-index: 7000;
    left: -0.71875px;    
}

.THIS #rt .slds-form-element__label {
    display: none !important;
}

.THIS .iconClass{
    margin-right: 4px !important;
}
.THIS .timeSpanModal{
    height: 50px;
    font-weight: bold;
}



.THIS .crossIconCustomError svg{
    color: #f3f2f2;
}