.THIS .custom .slds-form-element__icon {
    display: none !important;
}

.THIS .tableHeader {
    font-size: 12px;
}

.THIS .tdTextStyle {
    min-width: 90px;
    font-size: 12px;
}

.THIS .buttonCustom {
    white-space: nowrap;
}

.THIS .buttonHeader {
    font-weight: normal;
}

.THIS .footerStyle {
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fafaf9;
    padding-bottom: 50px;
}

.THIS .tableClass div {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: var(--divWidthCss);
}

.THIS .slds-dropdown-trigger div {
    width: auto !important;
}

.THIS .custom lightning-calendar {
    position: fixed !important;
    z-index: 999 !important;
}

.THIS .custom .slds-listbox {
    position: fixed !important;
    z-index: 999 !important;
}

.THIS .checkboxStyle {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}

.THIS .tableClass .thcheckbox div {
    width: 50px !important;
}

.THIS .actionButtonStyle {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: inline-block;
}

.THIS .tableClass .actionIconStyle div {
    width: 35px !important;
}

.THIS.parentDiv {
    width: 100% !important;
}

.THIS textarea,
.THIS input,
.THIS select {
    margin: 0;
    vertical-align: middle;
}
            
.THIS .fixedSection{
    position: -webkit-sticky;
    position: sticky;
	top: 0;
    z-index: 4; 
}            
            
.THIS .wrapper {
	position: relative;
    padding:5px; 
    margin-top:10px; 
    background:#ffffff;
    overflow-x: auto;
    width:100%;
}                      
            
.THIS .fixedCol {
  left: 0px;
  min-width: var(--divNameWidth);	                
}

.THIS .updateWidth {
  max-width: var(--divNameWidth);	                
  width: var(--divNameWidth);	                
}
                                                                
.THIS .fixedSelCol {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  left: var(--divNameWidth);
}