.THIS.parentDiv .slds-spinner_container {
    background-color : unset !important;
    z-index : 9999 !important;
}
.THIS .page2 .slds-checkbox{
	display:none !important;

}
.THIS .hideBlock {
    display: none;
}
.THIS .slds-th__action{ 
	justify-content: center !important;
}
.THIS .myContainer{
    width:100%;
    padding-top : 10px;
    overflow-x:auto;
    white-space: nowrap; 
    overflow-y: auto; 
}
.THIS .formattedStyle{
    padding-top: 5px;
}
.THIS .slds-form-element__label:empty{
    display : none;
}
.THIS.hideLabel label{
    display:none !important;
    
}
.THIS .slds-required{
    color : red !important;
}
.THIS .inputStyle {
    width : 95px;
}
.THIS .tdAlign{
    text-align: center;
}
.THIS .slds-table{
    border-collapse:initial;
    border-color:#f2f2f2;
}
.THIS .table-head_class {
    background-color:  #1b5297;
    color : white;
    height:1rem; font-size: 12px;
}