<apex:page controller="AircraftController2">
<apex:stylesheet value="{!$Resource.SpecSheet2}"/>
   <apex:sectionHeader title="Aircraft Specification Sheet"/>
       <apex:form >
    <apex:pageMessages escape="false" />
    
    <apex:pageBlock title="AIRCRAFT {!parentAC.Aircraft_Type__c} TECHNICAL SPECIFICATION" >
    
 
      <apex:pageBlockButtons >
        <apex:commandButton action="{!sendPdf}" value="Send PDF"/>
        <apex:commandButton value="Preview" 
                    onclick="window.open('/apex/AC_Spec_Sheet_B?id={!parentAC.id}', 'Popup',
                            'height=500,width=600,left=100,top=100,resizable=no,
                            scrollbars=yes,toolbar=no,status=no');" />
      </apex:pageBlockButtons>
      
      <apex:pageBlockSection >
    
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Email" for="email"/>
             <apex:inputTextarea style="width: 360px; height: 50px" value="{!email}" id="email"/> 
          </apex:pageBlockSectionItem>
<!--
            <apex:inputText value="{!old_email}" id="old_email" size="75"/>
-->
 
    </apex:pageBlockSection>
    
    <apex:pageBlockSection >
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Subject" for="sub"/>
            <apex:inputText value="{!sub}" id="sub"/>
          </apex:pageBlockSectionItem>
   
     </apex:pageBlockSection>
     
     <apex:pageBlockSection >
          <apex:pageBlockSectionItem >
            <apex:outputLabel value="Body   " for="ebody"/>
            <apex:inputTextarea style="width: 360px; height: 100px" value="{!ebody}" id="ebody"/> 
          </apex:pageBlockSectionItem>
   
     </apex:pageBlockSection>
     
     <apex:pageBlockSection title="General Description">
              
              <apex:outputText value=""/>            
              <apex:outputText value=""/>
              <apex:outputField value="{!parentAC.Aircraft_Type__c}"/>
              <apex:outputText value=""/>
              <apex:outputField value="{!parentAC.Line_Num__c}"/>  
              <apex:outputText value=""/>
              <apex:outputField value="{!parentAC.Aircraft_Variant__c}"/>
              <apex:outputText value=""/>          
              <apex:outputField value="{!parentAC.Date_of_Manufacture__c}"/>
              <apex:outputText value=""/> 
              <apex:outputField value="{!parentAC.ETOPS__c}"/>
              <apex:outputText value=""/> 
              <apex:outputField value="{!parentAC.TSN__c}"/>
              <apex:outputText value=""/> 
              <apex:outputField value="{!parentAC.CSN__c}"/>
              <apex:outputText value=""/>               
              <apex:outputText value="Status As Of {0,date,MM'/'dd'/'yyyy}">
                   <apex:param value="{! TODAY()}" /> 
                   </apex:outputText>
         </apex:pageBlockSection>
         
         <apex:pageBlockSection title="Weights">
                          
        <apex:outputField value="{!parentAC.Maximum_Operational_Take__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Take_Off_Weight_Operational__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Take_Off_Wt_Max_Design__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Landing_Weight_Operational__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Landing_Wt_Purchased_Leased__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Landing_Weight_Max__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Zero_Fuel_Wt_Operational__c}"/>
        <apex:outputField value="{!parentAC.Maximum_Zero_Fuel_Wt_Purchased_Leased__c }"/>
        <apex:outputField value="{!parentAC.Maximum_Zero_Fuel_Wt_Max_Design__c}"/> 
      
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Fuel">
                          
        <apex:outputField value="{!parentAC.Standard_Fuel_Capacity_Pounds__c}"/>
        <apex:outputField value="{!parentAC.Auxillary_Tank_Capacity_Pounds__c}"/>
        <apex:outputField value="{!parentAC.Standard_Fuel_Capacity_KG__c}"/>
        <apex:outputField value="{!parentAC.Auxiliary_Tank_Capacity_Kilograms__c}"/>
        <apex:outputField value="{!parentAC.Standard_Fuel_Capacity_Gallons__c}"/>
        <apex:outputField value="{!parentAC.Auxiliary_Tank_Capacity_Gallons__c}"/> 
      
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Operator">
              
              <apex:outputField value="{!parentAC.Assigned_To__c}"/>
              <apex:outputText value=""/>
              <apex:outputField value="{!parentAC.Country_Of_Registration__c}"/>
              <apex:outputText value=""/>
              <apex:outputField value="{!parentAC.Registration_Number__c}"/>
              <apex:outputText value=""/>          
             
         </apex:pageBlockSection>
        
       <apex:pageBlockSection title="Engines" columns="1">
        <apex:pageBlockTable style="width:100%" value="{!ConstAssembEngine}" var="CA">
        
          <apex:column value="{!CA.Type__c}"/>
          <apex:column value="{!CA.Serial_Number__c}"/>
          <apex:column value="{!CA.Life_Limit__c}"/>
          <apex:column value="{!CA.TSN__c}"/>
          <apex:column value="{!CA.TSLV__c}"/>
          <apex:column value="{!CA.CSN__c}"/>
          <apex:column value="{!CA.CSLV__c}"/>
      
         </apex:pageBlockTable> 
      </apex:pageBlockSection>
     
      <apex:pageBlockSection title="APU" columns="1">
         
          <apex:pageBlockTable style="width:100%" value="{!ConstAssembAPU}" var="apu" >
              <apex:column value="{!apu.Type__c}"/>
              <apex:column value="{!apu.Serial_Number__c}"/>
              <apex:column value="{!apu.Part_Number__c}"/>
              <apex:column value="{!apu.TSN__c}"/>
              <apex:column value="{!apu.CSN__c}"/>
              <apex:column value="{!apu.TSLV__c}"/>
              <apex:column value="{!apu.CSLV__c}"/>
         </apex:pageBlockTable>              
      
    </apex:pageBlockSection>
    
   <apex:pageBlockSection title="Landing Gear" columns="1">
                          
        <apex:pageBlockTable style="width:100%" value="{!ConstAssembGear}" var="CAgear">
         
          <apex:column value="{!CAgear.Type__c}"/>
          <apex:column value="{!CAgear.Part_Number__c}"/>
          <apex:column value="{!CAgear.Serial_Number__c}"/>
          <apex:column value="{!CAgear.TSN__c}"/>
          <apex:column value="{!CAgear.CSN__c}"/>
          <apex:column value="{!CAgear.TSLV__c}"/>
          <apex:column value="{!CAgear.CSLV__c}"/>
        
        </apex:pageBlockTable> 
      
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Aircraft Maintenance History" columns="1">
                          
         <apex:pageBlockTable style="width:100%" value="{!ACEligible_Event}" var="acee">
            <apex:column value="{!acee.Event_Type__c}" /> 
            <apex:column value="{!acee.Start_Date__c}"/> 
            <apex:column value="{!acee.End_Date__c}" />
            <apex:column value="{!acee.TSN_N__c}"/>
             <apex:column value="{!acee.CSN__c}"/>
         
       </apex:pageBlockTable>                   
      
    </apex:pageBlockSection>
    
      <apex:pageBlockSection title="Equipment" columns="1">
                          
         <apex:pageBlockTable style="width:100%" value="{!Equipment}" var="equip">
            <apex:column value="{! equip.ATA_Text__c}" /> 
            <apex:column value="{! equip.Description__c}"/>
            <apex:column value="{! equip.Vendor__c}" />
            <apex:column value="{! equip.Part_Number__c}"/>
            <apex:column value="{! equip.Family__c}" />
            <apex:column value="{! equip.Quantity__c}"/>
         
       </apex:pageBlockTable>                   
      
    </apex:pageBlockSection> 
    
   </apex:pageBlock>
  </apex:form>
</apex:page>