<apex:page sidebar="false" showHeader="false" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="false">
    
    <html>
        <head>
            <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
            <style>
                html,body,#AircraftSearchContainer{
                    background-color:#fff ;
                    -webkit-overflow-scrolling:touch;
                }
                
                
                
                @media screen and (min-width: 800px) {
                    html,body,#AircraftSearchContainer{
                        background-color : #3666B8 !important;
                    }
                }
                
            </style>
        </head>
        <body>
            <apex:includeLightning />
            <apex:includeScript value="/lightning/lightning.out.js" /> 
            <div id="AircraftSearchContainer"></div>
           
            <script>
            console.log('{!$User.UIThemeDisplayed}');
            $Lightning.use("leaseworks:AircraftSearchApp", function() {
                $Lightning.createComponent("leaseworks:AircraftComponent",
                                           {"uiTheme" : "{!$User.UIThemeDisplayed}"},
                                           "AircraftSearchContainer",
                                           function(cmp) {
                                               
                                           });
            }); 
            
            </script>
        </body>
    </html>
    
</apex:page>