<apex:page standardController="Assembly_Eligible_Event__c"
	extensions="AssemblyMRAvailabilityController" showheader="false"
	sidebar="false" title="MR Blancec" readonly="true" lightningStylesheets="true">
	

   
<style>
table.list {
    border-width: 0 !important;
}
tr.dataRow.last td {
    border-bottom-width: 0 !important;
} 
</style>


	<style type="text/css">
	
	#datePicker{
	left: 20px !important; top: 50px !important;
	}
	
	
	
	
.inFlowText {
	color: #009900;
	
	
	
}

.outFlowText {
	color: #D00000;
}

.totalText {
	color: #330099;
}

table.ex1 {
	table-layout: auto
}

caption.cap1 {
	text-align: left;
	margin-bottom: 5px;
	font-size: 110%;
	padding: 5px;
	font-weight: bold;
}

table.ex2 {
	border: 1px solid black;
	table-layout: fixed;
	width: 200px;
}

td ..ex3 {
	border: 1px solid black;
	overflow: hidden;
	width: 100px;
}
</style>


	<div style="margin-left: 20px; margin-bottom: 10px;">
		<apex:form Id="frmId">
			<table class="noBorder">
					<apex:pageMessages id="theMessage"/>
					<td class="noBorder"><label><b>Date Type </b></label></td>
					<td class="noBorder">
						<apex:actionRegion >
							<apex:selectList value="{!selectedDateType}" id="DateTypesId" size="1">
								<apex:selectOptions value="{!DateTypes}" />
								<apex:actionSupport event="onchange" rerender="DataPanel,theMessage"/>
							</apex:selectList>
						</apex:actionRegion>	
					</td>
			</table>
		</apex:form>
		<apex:outputPanel id="DataPanel">
			<apex:form >		
					<apex:outputpanel id="inductiondate1" rendered="{!selectedDateType='Induction Date' || selectedDateType='All'}">
						<apex:pageblock id="account"
							title="MR Available based on Induction date ({!inductionDate})" >
							<apex:pageblockTable value="{!MRList_IND}" var="a1">
									<apex:column headerValue="Available Reserve" value="{!a1.Y_H_MRCol__c}" />

								<!--
										<apex:column headerValue="NMR Invoiced Amount LLP" value="{!a1.Y_H_NMRInv_Heavy_Maint_2_Airframe__c}" />
										<apex:column headerValue="NMR Collected Amount LLP" value="{!a1.Y_H_NMRCol_Heavy_Maint_2_Airframe__c}" />
								-->
							</apex:pageblockTable>
						</apex:pageblock>
					</apex:outputpanel>
					
					
					
					
					
					<apex:outputpanel id="Releasedate1" rendered="{!selectedDateType='Release Date' || selectedDateType='All'}">
						<!--  Input date by default today -->
						<apex:pageblock id="account1"
							title="MR Available based on Release Date ({!releaseDate})">
							<apex:pageblockTable value="{!MRList_REL}" var="a1">
										<apex:column headerValue="Available Reserve" value="{!a1.Y_H_MRCol__c}" />
								<!--
										<apex:column headerValue="NMR Invoiced Amount LLP" value="{!a1.Y_H_NMRInv_Heavy_Maint_2_Airframe__c}" />
										<apex:column headerValue="NMR Collected Amount LLP" value="{!a1.Y_H_NMRCol_Heavy_Maint_2_Airframe__c}" />
								-->
							</apex:pageblockTable>
						</apex:pageblock>
					</apex:outputpanel>
					
					
					
					
					
					
					<apex:outputpanel id="paymentdate1" rendered="{!selectedDateType='Payment Date' || selectedDateType='All'}">
						<apex:pageblock id="account2"
							title="MR Available based on Payment date">
						
						
							
						<apex:pageBlockSection >					
						  <apex:pageblocksectionItem >
					          
					          <!--  Pick list (dynamic)  -->
					          
					         
					           <apex:actionRegion >
						          <apex:selectList value="{!selectedPaymentDate}" size="1" id="values">
						                  <apex:selectOptions value="{!PaymentDateoptions}"/>
						                  <apex:actionSupport event="onchange" action="{!getMRBALatPMTDate}" rerender="OutPayament" />
						          </apex:selectList>
						          
					          </apex:actionRegion>
					          
					       </apex:pageblocksectionItem>
					      </apex:pageBlockSection>	
                        
                       
                        <apex:outputpanel id="OutPayament">
							<apex:pageblockTable value="{!MRList_PMT}" var="a1">
										<apex:column headerValue="Available Reserve" value="{!a1.Y_H_MRCol__c}" />
								<!--
										<apex:column headerValue="NMR Invoiced Amount LLP" value="{!a1.Y_H_NMRInv_Heavy_Maint_2_Airframe__c}" />
										<apex:column headerValue="NMR Collected Amount LLP" value="{!a1.Y_H_NMRCol_Heavy_Maint_2_Airframe__c}" />
								-->
							</apex:pageblockTable>
						</apex:outputpanel>	
							</apex:pageblock>
					</apex:outputpanel>
					
					
					
					
					
					
					<apex:outputpanel id="userdate1" rendered="{!selectedDateType='User Defined Date' || selectedDateType='All'}">
										
						<apex:pageblock id="account3"
							title="MR Available based on User Defined date">
							
						<!--  	Select Date: 
					<apex:inputField type="date" id="userselecteddate1" value="{!Aircraft_Eligible_Event__c.End_Date__c}"  />
					-->
					
							<apex:pageMessages id="theMessage1"/>
									<apex:actionRegion >
									<apex:inputfield id="userselecteddate1" value="{!ACEeventUDDate.Start_Date__c}"  >	
										<apex:actionSupport event="onchange" action="{!getMRBALatDate}" rerender="myoutput,theMessage1" />
										</apex:inputfield>
									</apex:actionRegion>
							<apex:outputpanel id="myoutput">		
									<apex:pageblockTable value="{!MRList_UD}" var="a1">
										<apex:column headerValue="Available Reserve" value="{!a1.Y_H_MRCol__c}" />
									<!--
										<apex:column headerValue="NMR Invoiced Amount LLP" value="{!a1.Y_H_NMRInv_Heavy_Maint_2_Airframe__c}" />
										<apex:column headerValue="NMR Collected Amount LLP" value="{!a1.Y_H_NMRCol_Heavy_Maint_2_Airframe__c}" />
									-->
									</apex:pageblockTable>
							
							</apex:outputpanel>	
										
						</apex:pageblock>
					</apex:outputpanel>
					
				
			</apex:form>

			

		</apex:outputPanel>
	</div>
</apex:page>