<apex:page controller="ConsttAssemblyClaimFormController" >
    <apex:sectionHeader title="Claim Form"
            description=""/>
     <apex:form >
    <apex:pageMessages escape="false" />
    <apex:pageBlock title="Claim Form Generator">
 
      <apex:pageBlockButtons >
        <apex:commandButton action="{!sendPdf}" value="Send PDF"/>
        <apex:commandButton value="Preview" 
                    onclick="window.open('/apex/ConsttAssembClaimFormPDF?id={!Aee_In.id}', 'Popup',
                            'height=500,width=600,left=100,top=100,resizable=no,
                            scrollbars=yes,toolbar=no,status=no');" />  
      </apex:pageBlockButtons>
 
      <apex:pageBlockSection >
 
        <apex:pageBlockSectionItem >
           <apex:outputLabel value="Email" for="email"/>
          <apex:inputText value="{!email}" id="email"/>
        </apex:pageBlockSectionItem>
        
      </apex:pageBlockSection>
    
     <apex:pageBlockSection >
         <apex:pageBlockSectionItem >
           <apex:outputLabel value="Subject" for="sub"/>
           <apex:inputText value="{!sub}" id="sub"/>
         </apex:pageBlockSectionItem>
   
     </apex:pageBlockSection>
     
     <apex:pageBlockSection >
          <apex:pageBlockSectionItem >
           <apex:outputLabel value="Body" for="ebody"/>
           <apex:inputTextarea style="width: 360px; height: 100px" value="{!ebody}" id="ebody"/>
      </apex:pageBlockSectionItem>
  
      
      </apex:pageBlockSection>
 
    </apex:pageBlock>
  </apex:form>
     
</apex:page>