<apex:page sidebar="false" showHeader="false">
<h1>LeaseWare</h1>
<p>Enhancing Operational Efficiency Across The Aircraft Leasing Industry </p>
<apex:image id="leaseware_logo"
value="https://lh4.googleusercontent.com/-6BWDxWTzXn8/TsnNsmDcEBI/AAAAAAAABjo/rwMENe_AdZc/s144/logo.jpg"/> 
</apex:page>