<apex:page controller="Terms_and_Conditions_Popup" sidebar="false" showHeader="false">

<!-- Stubbing out for now
<table width="100%">
            <tr width="50%" align="right">
                    <td width="50%" align="center">
                    <apex:image url="https://c.na11.content.force.com/servlet/servlet.ImageServer?id=015G0000001SwrR&oid=00DG0000000ggTD&lastMod=1352235828000" width="25%"/>
                    </td>
             </tr>
                
          </table>
                    
    <apex:form >

    <script language="javascript">
        function Continue(acc)
        {
    
            alert('Value is '+ acc);
            if (acc=='Agree'){
                window.location = "/home/home.jsp";
                return true;
            }else{
                window.location = "/secur/logout.jsp";
                return false;
            }
        }
        
        function ShowAlert(msg){
            alert('Val is ' + msg);
        }
        
        </script>
    
        
        <apex:pageBlock >
            Please read our terms carefully – they concern the use of <b>LeaseWorks</b>.  Your use of our system is subject to these terms and by using this system you show your agreement to such terms.  . It is effective between You and Us as of the date of You accepting 
this Agreement. 
        </apex:pageBlock>

         <apex:selectRadio value="{!accept}" id="Agreement">
            <apex:selectOptions value="{!items}"/>
         </apex:selectRadio><p/>

    <apex:commandButton value="Continue" onClick="Continue('Agree')" rerender="tstpopup"/>
     <apex:outputPanel id="out">
          <apex:actionstatus id="status" startText="testing..."> 
             <apex:facet name="stop"> 
               <apex:outputPanel > 
                  <p>You have selected:</p> 
                 <apex:outputText value="{!accept}"/>
              </apex:outputPanel> 
            </apex:facet> 
          </apex:actionstatus> 
     </apex:outputPanel> 

<apex:commandButton value="Test2" onClick="ShowAlert({!accept})"  rerender="tstpopup"/>


        <apex:commandButton value="Terms & Conditions" action="{!showPopup}" rerender="tstpopup"/>
 
        <apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                <h1>LeaseWorks Terms and Conditions </h1><br/><br/><br/>
                <apex:commandButton value="Agree" onClick="parent.location='/home/home.jsp'" rerender="tstpopup"/>
                <apex:commandButton value="Disagree" onClick="parent.location='/secur/logout.jsp'" rerender="tstpopup"/>
            </apex:outputPanel>
        </apex:outputPanel>
         
    </apex:form>
 
    <style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            /* These are the 3 css properties you will need to change so the popup 
            displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can add 
            the height property for a fixed size pop up if you want.*/
            width: 500px;
            margin-left: -250px;
            top:100px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
 -->
     
</apex:page>