h1, h2, h3, h4, h5, h6 {
    font-family: 'Verdana', 'Geneva', sans-serif;
    font-size: 100%;
    margin:0px;
    display:inline;
}

textarea {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 100%;
 }

th {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

td {
    font-family: 'Arial', 'Helvetica', sans-serif;
    padding:5px;
   font-size:14px;
}

.infohead {
  font-size: 70%;
  font-weight: bold;
}

.infobox {
  border: 1px dashed #CCCCCC;
  font-size: 70%;
}

.headerbox {
    padding:0.5em;
    color:black;
    border:1px solid black;
    background-color:white;
    clear:left;
    font-variant:small-caps;
}

.highlightcol {
    background-color: #CCCCCC;
}


@page {
/* Landscape orientation */
size:portrait;


/* Put page numbers in the top right corner of each
   page in the pdf document. */
@bottom-right {
 content:  counter(page) "/ " counter(pages);

}
}