h1 {
	font-size:40px;
	font-family: 'Verdana', 'Geneva', sans-serif;
   }

h2 {
	font-size:20px;
	font-family: 'Verdana', 'Geneva', sans-serif;
   }

p {	font-size:12px;
	font-family:Arial,Helvetica,sans-serif;
  }

#data
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border:2px solid #080000;
	border-collapse:collapse;
}

#data td, #data th 
{
	font-size:1em;
	border:1px solid #080000;
	padding:3px 7px 2px 7px;
}

#data th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	color:#000000;
}

#data2
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border:0px;

}

#data2 td, #data2 th 
{
	font-size:1em;

	padding:3px 7px 2px 7px;
}

#data2 th 
{
	font-size:1.1em;
	text-align:left;
	
	padding-bottom:4px;

}



img.center { 
  display: block;  
 margin-left: auto;  
 margin-right: auto; 
}

.clip {
  position: relative;
  height: 130px;
  width: 200px;
 margin-left: auto;  
 margin-right: auto; 
  
}
.clip img {
  position: absolute;
  clip: rect(30px 165px 100px 30px);
}

@page {
/* Landscape orientation */

  size: A4 portrait;
    margin-top:0cm;
    margin-left:0cm;
    margin-right:0cm;
    margin-bottom:0cm;  	
  


/* Put page numbers in the top right corner of each
   page in the pdf document. */
@bottom-right {
 content:  counter(page) "/ " counter(pages);

}

 #headerWrap{
		position:left;
		width:600px;
		height:80px;
		margin:0 auto;
	}
	
	#header{
		position:left;
		width:600px;
		height:80px;
		background:blue;
		
	}