/*
DIV.THIS {
    font-size: 12pt;
}
*/

.THIS .req {
    font-size: 150%;
    color:red;
}
.THIS.mainDiv{
     background-color:white !important;
}
.THIS .pageHeader{
    background-color:white !important; 
}
.THIS .pageHeaderText{
    color:black !important;
    padding-top: 11px !important;
}
.THIS .slds-section__content{
    padding-top: 0 !important;
}

.THIS .headerStyle {width:100%}