.THIS .formattedStyle{
    height: 50px; 
    padding-top: 5px;
}
.THIS .slds-required{
    color : red !important;
}

.THIS.slds-spinner_container{
background-color: UNSET;   
}

.THIS .crossBtn .slds-icon_small {
    
    fill : white;
}