.THIS .cardStyle {
    background: #005fb2;
    width:1250px;
}

.THIS .table {
    overflow-x: scroll;
    overflow-y: hidden;
}


.THIS .tdTextStyle{
    word-wrap:break-word;
    font-size:12px; 
    text-align:left;
    width:196px;
    padding-left:12px;
    }

.THIS .thTextStyle{
    color:#005fb2;
    font-size:14px; 
    text-align:left;
    word-wrap:break-word;
    width:196px;
    overflow:hidden;
    padding:10px;
}

.THIS .topborder {
  border-top: thin solid;
  border-color: black;
}
.THIS .headerbottomborder {
  border-bottom: thin solid;
  border-color: #808080;
}


.THIS .bottomborder {
  border-bottom: thin solid;
  border-color: #808080;
}

.THIS .innerbottomborder {
  border-bottom: thin solid;
  border-color: #E8E8E8;
}