.THIS .header {
    background-color: #1b5297 !important;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}

.THIS .collapsable {
    color: #fff !important;
    font-size: small;
    border: 1px solid #fff;
    padding: 0 5px;
    line-height: 1.3rem;
}

.THIS .collapsable:focus {
    box-shadow: none !important;
}

.THIS .brandButton {
    border-radius: .25rem 0 0 .25rem;
}

.THIS .neutralButton {
    border-radius: 0 .25rem .25rem 0;
    margin-left: 0px !important;
}

.THIS .parentFinder .slds-button {
    width: 122px !important;
}

.THIS .headerIcon .slds-button__icon {
    fill: #fff;
}

.THIS .headerIcon {
    vertical-align: initial !important;
}

.THIS .filterStyle {
    display:inline-block; 
    width:50%; 
    min-width: 250px !important;
}