.THIS .editIcon{
    position: absolute;
    z-index: 999;
    padding-left: 10px;
}

.THIS .add-visibility{
   visibility:visible;
}
.THIS .remove-visibility{
   visibility:hidden;
}

.THIS .hideInputForSameType{
    visibility:hidden; 
}

.THIS .slds-input{
    width: 80px;
    text-align: right;
    min-height: 31px;
    max-height: 31px;
}

.THIS .inputFeilds .slds-form-element__label{
    display:none;
}

.THIS .applyCss{
    min-width: 60px!important;
    max-width: 60px!important;
}

.THIS .applywidthCss{
    min-width: 75px!important;
    max-width: 75px!important;
}

.THIS .alignNumber{
    text-align: right !important;
}

.THIS .alignText{
    text-align: left !important;
}

.THIS .labelClass{
    display:none;
}

.THIS .pillCss{
    padding:0px !important;
}


.THIS .sticky-col{
    min-width: 35px !important;
    max-width: 35px !important;
} 

.THIS .monthTable{
    overflow: hidden;
    padding-bottom: 4px;
    float: left;
}

.THIS .dataTbl{
    white-space: nowrap;
    overflow-x: auto;  
}

.THIS .dynamicHeight{
    height: 41px !important;  
}


.THIS .studioTable thead th {
    height: 35px ; 
    position: unset;
}

.THIS .studioTable tbody td {
    height: 40px ; 
    position: unset;
}


.THIS .studioMainTable thead th {
    height: 35px;
    position: unset;
}


.THIS .studioMainTable tbody td {
    height: 40px;
    position: unset;
}

.THIS .managerDataTable tbody tr:nth-of-type(odd)>td:nth-child(1) {  /*the first cell in each tr*/
    background-color : white;
}



.THIS .backgroudClass{
    background-color:#1b5297 !important;
    color:white !important;
}

.THIS .imgclass{
    max-width: 20px!important;
    height: 22px !important;
}

.THIS .borderleft{
    border-left: 2px solid black !important;
}

.THIS .borderRight{
    border-right: 2px solid black !important;
}

.THIS .addBorderRight{
     border-right: 2px solid black !important;
}

.THIS .bordertop{
    border-top: 2px solid black !important;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.THIS .applyTextAreaStyle{
    max-width: 200px !important;
    min-width: 200px !important;
}

.THIS .textAreaLabel .slds-form-element__label{
    display:none !important;
}
.THIS .textAreaLabel {
   height:31px;
}
.THIS .textAreaLabel .slds-textarea{
    height:31px;
    max-height:31px;
}

.THIS .initialWidth{
       width: 30px!important;
}

.THIS .fixedWidth{
    min-width: 150px !important;
}

.THIS .fixedWidthLastCol {
    width: 75px !important;
    min-width: 75px !important;
    max-width: 75px !important;
}

.THIS .slds-form-element__help {
    display:none;
}

.THIS .helpText .slds-form-element__icon {
    padding-top: 0 !important;
}

.THIS .helpText .slds-button_icon {
    color: #fff !important;
}
.THIS .assetWidth{
    min-width: 270px !important;
}