.THIS .noLabelStyle .slds-form-element__label {
    display: none !important;
}

.THIS.slds-spinner_container {
    background-color: transparent !important;
}

.THIS .slds-pill__label {
    padding-left: 1.75rem !important;
}

.THIS.lw_header {
    background-color: #1b5297;
    color: #ffffff;
}

.THIS .amount_Style input.slds-input {
    text-align: right;
}