.THIS {
}
.THIS .box{
    width:40px;
}
.THIS .gridCustom{
    height:80px;
}

.THIS .rank11{
    font-size:34px;
    color:#228B22;
}
.THIS .rank21{
	font-size:28px;
    color:#32CD32;    
}
.THIS .rank31{
	font-size:22px;
    color:#FF7F50;    
}
.THIS .rank41{
	font-size:18px;
    color:#C0C0C0;    
}
.THIS .rank51{
	font-size:18px;
    color:#C0C0C0;    
}
.THIS .rank61{
	font-size:18px;
    color:#C0C0C0;    
}
.THIS .rank1{
    color:#228B22;
}
.THIS .rank2{
    color:#32CD32;    
}
.THIS .rank3{
    color:#FF7F50;    
}
.THIS .rank4{
    color:#C0C0C0;    
}
.THIS .rank5{
    color:#C0C0C0;    
}
.THIS .rank6{
    color:#C0C0C0;    
}
.THIS .col1{
    font-size:34px;
}
.THIS .col2{
	font-size:28px;   
}
.THIS .col3{
	font-size:22px;   
}
.THIS .col4{
	font-size:18px;   
}
.THIS .col5{
	font-size:18px;
}

.THIS .boxDiv{
    height:100px; 
    width:100px; 
    display:inline-block;
}
.THIS .criteriaText{
    padding-left:20px; 
    text-align:left;
}
.THIS .buttonBackground {
    background-color:#005fb2;
}

.THIS .slds-button_neutral:disabled {
    background-color:#ffffff;
}

.THIS .popup {
    background: #0A61AE
}

.THIS .tabelCss{
    border: 1px solid #dad7d7;
    border-collapse: collapse;
    font-size:12px;
    color:#4d4d4d;
}

.THIS .tableHeaderCss {
    padding: 5px;
    text-align: left;    
    font-weight: normal;
}

.THIS .textLimit{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .slds-list_dotted, .THIS .slds-list--dotted {
    margin-left: 7px;
}