.THIS .slds-file-selector {
    display: inline-block !important;
}

.THIS .slds-file-selector_files .slds-file-selector__button {
    display: none !important;
    
}
.THIS #headerupload .slds-file-selector_files .slds-file-selector__body{
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.THIS .slds-file-selector_files .slds-file-selector__text{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.THIS  #headerupload .slds-file-selector__text{
    visibility: hidden;
	position: relative;
}
.THIS  #headerupload .slds-file-selector__text:after {
    width: 140px;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Drop New Files Here";
}
.THIS .slds-box .cLOIUploadComponent{
    padding: 0px !important;
}

.THIS #bottomsection .slds-file-selector__text{
    visibility: hidden;
	position: relative;
}

.THIS  #bottomsection .slds-file-selector__text:after {
    width: 140px;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Drop Here";
}
.THIS #bottomsection .slds-form-element__label{
    display: none !important;
}
.THIS .slds-button_icon-border{
    width: 1rem !important; 
    height: 1rem !important;
}
.THIS .slds-modal__footer {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 1px !important;
}

.THIS #editform .slds-dropdown-trigger .slds-dropdown {
    min-height: 7rem !important;
}

.THIS .slds-dropdown{
    padding:0px !important;
    bottom: -10px;
    top: -42px;
}

.THIS .overflow{
    max-height:332px; 
    overflow: auto;
}
.THIS .thwidth{
    min-width:100px;
}
.THIS .commentmodal{
    background:white;
    padding:15px;
}
.THIS .editmodal{
    background:white;
}
.THIS .iconcontainer{
    margin-top: 12px;
    margin-left:12px
}
.THIS .mediacontainer{
    float:left;
    padding-bottom: 9px;
}
.THIS .loiLabel{
    float:left; 
    margin-top:5px;
}
.THIS .footerPadding{
    padding:1px;
}
.THIS .libraryaccess{
    font-size: 15px;
}
.THIS .editmodalpadding{
    padding:15px;
}