.THIS.noHeaderStyle .slds-card__header {
    display: none !important;
}

.THIS .header_Style {
    color: #FFFFFF;
}

.THIS thead th {
    background-color: #1b5297;
    color: #FFFFFF;
}

.THIS tbody td {
    color: rgb(0, 109, 204);
}

.THIS .slds-form-element_horizontal:not(.slds-form-element_readonly),
.THIS .slds-form_horizontal .THIS .slds-form-element:not(.slds-form-element_readonly),
.THIS .slds-form_stacked .THIS .slds-form-element_horizontal:not(.slds-form-element_readonly) {
    margin-bottom: 0;
}

.THIS .imgclass {
    height: 25px !important;
    float: left !important;
    padding-right: 10px !important;
}

.THIS .label_Style .slds-form-element__label {
    max-width: none;
    flex-basis: auto;
    padding-top: 0 !important;
}

.THIS .slds-form-element__label {
    display: block;
    padding-right: 0rem;
    padding-top: 0 !important;
}

.THIS.slds-backdrop {
    opacity: 1;
    visibility: visible;
}

.THIS input[type=number]::-webkit-inner-spin-button,
.THIS input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.THIS .overPayed_Style {
    color: #FF0000;
}

.THIS .RedDueDate_Style {
    color: #FF0000;
}

.THIS .OrangeDueDate_Style {
    color: #FFFF00;
}

.THIS .button_Style .slds-icon-text-default {
    fill: rgb(0, 109, 204);
}

.THIS .button_Style .slds-button:focus,
.THIS .button_Style .slds-button:active {
    border: none !important;
    box-shadow: none !important;
}

.THIS .fixedHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
}

.THIS .myContainer {
    width: 100%;
    white-space: nowrap;
    max-height: 400px;
    min-height: 250px;
}

.THIS .bankAccValMsg {
    display: none;
    color: #c23934;
}

.THIS .customLookupTDWidth {
    min-width: 9rem;
    max-width: 9rem;
}

.THIS .amount_Style input.slds-input {
    text-align: right;
}

.THIS .amountHyperlinkStyle:hover {
    text-decoration: underline;
    cursor: pointer;
}