.THIS .div1Center{
	text-align:center;
}
.THIS .bs-example{
	margin: 100px 50px;
}
.THIS .glyphiconcolor{
	color: #e68a00;
}
.THIS .infoClass .slds-icon-text-default{
    fill: #C6C5C4 !important;
}
.THIS .slds-form-element__label{
    display: block;    
}
.THIS .uiMessage.error {
    background-color: rgb(194, 57, 52);
    color: rgb(255, 255, 255);
}