.THIS {
}

.THIS .cardStyle {
    background: #005fb2; 
}

.THIS .inputTextStyle{
    font-size:14px; 
    color:#005fb2;
    word-wrap: break-word;}

.THIS .outtextStyle{
    font-size:14px; 
    color:#000000;
}

.THIS .preview{
    margin-bottom:0px;
}

.THIS .tableOuttextStyle{
    font-size:12px; 
    color:#000000;
}

.THIS .thTextStyle{
    color:#404040;
    font-size:13px; 
    text-align:left;
}

.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:left;
    width:100px;
}


.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}

.THIS .thTableTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
	color:#005fb2;
    font-size:11px; 
    text-align:left;
}

.THIS .headerStyle{
    color:#000000;
    font-size:13px; 
    /*font-weight: bold; */
}

.THIS .headerFieldStyle{
    color:#000000;
    font-size:13px; 
}