.THIS .cardStyle {
    background: #005fb2;
}

.THIS .outtextStyle{
    font-size:14px; 
    color:#000000;
}


.THIS .inputTextStyle{
    font-size:14px; 
    color:#005fb2;
}
.THIS .rightRoundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-left: 450px; 
    margin-top: -220px;
    text-align : right;
    
}
.THIS .preview{
    margin-bottom:0px;
}


.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:left;
}

.THIS .thTextStyle{
    color:#005fb2;
    font-size:13px; 
    text-align:left;
}

.THIS .checkboxStyle{
    margin-top: 10px;
}

.THIS .calcStyle {
    margin-top: 5px;
    text-align: left;
}

.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 29px;
    padding: 5px;
}

.THIS .roundWhiteBorder{  
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
}

.THIS .customTitleWidth {
    width: 31%;
}

.THIS .customTitleWidthBordered {
    
}

.THIS .customFieldWidth {
    width: 50%;
}

.THIS .tableOuttextStyle{
    font-size:12px; 
    color:#000000;
}

.THIS .thTableTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
	color:#005fb2;
    font-size:11px; 
    text-align:left;
}

.THIS .marginUp {
    margin-top:-20px;
}