.THIS .formattedStyle{
    height: 50px; 
    padding-top: 5px;
}
.THIS .slds-required{
    color : red !important;
}
.THIS .slds-form-element__label:empty{
    display : none;
}
.THIS.hideLabel label{
    display:none !important;
}

.THIS .slds-form-element__control{
    padding-left: 10% !important;
}

.THIS.slds-spinner_container{
background-color: UNSET;   
}