<template>
    <div class="slds-grid slds-grid_align-center">
        <div class="slds-container_large slds-container_center container_width_ch">
            <div class="slds-form slds-p-around_medium container" role="list">
                <lightning-layout multiple-rows="true" padding="around-small">
                    <lightning-layout-item size="12">
                        <template if:true={displayAssetClass}>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div
                                        class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-combobox class={assetclassClass} required name="assetclass"
                                                    label={assetClassLabel} placeholder="Select Asset Class"
                                                    options={assetClassOptions} onchange={handleAssetInput}>
                                                </lightning-combobox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static slds-align_absolute-center">
                                            <lightning-dual-listbox class="searchvalidation submitvalidation"
                                                name="assettype" label={assetTypeLabel} source-label="Available"
                                                size="3" selected-label="Selected" style="width: 40%"
                                                options={assetTypeOptions} onchange={handleAssetInput}>
                                            </lightning-dual-listbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div
                                    class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static slds-align_absolute-center">
                                            <lightning-dual-listbox class="searchvalidation submitvalidation"
                                                name="assetvariant" label={assetVariantLabel} source-label="Available"
                                                selected-label="Selected" style="width: 40%"
                                                field-level-help={pmaderLabel} options={assetVariantOptions}
                                                onchange={handleAssetInput} size="3">
                                            </lightning-dual-listbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <template if:true={deliveryDateLabel}>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div
                                        class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-input class="searchvalidation submitvalidation" type="date"
                                                    name="delivdate" label={deliveryDateLabel} data-id='desdate'
                                                    min={todaysDate} value={inputDeliveryDate}
                                                    field-level-help="This is the desired delivery date"
                                                    onchange={handleAssetInput}></lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <template if:true={serviceTypeLabel}>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div
                                        class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-combobox class={serviceTypeClass} name="servicetype"
                                                    label={serviceTypeLabel} value={inputServiceType}
                                                    field-level-help="FTAI to coordinate installation?"
                                                    options={serviceTypeOptions} onchange={handleAssetInput}>
                                                </lightning-combobox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <template if:true={dealTypeLabel}>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div
                                        class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-combobox class="searchvalidation submitvalidation"
                                                    name="exchpurch" label={dealTypeLabel} options={dealTypeOptions}
                                                    onchange={handleAssetInput} value={inputDealType}>
                                                </lightning-combobox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="12">
                        <template if:true={locationLabel}>
                            <div class="slds-form__row">
                                <div class="slds-form__item" role="listitem">
                                    <div
                                        class="slds-form-element slds-form-element_edit slds-form-element_stacked slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-input class="searchvalidation submitvalidation"
                                                    name="location" type="text" label={locationLabel}
                                                    onchange={handleAssetInput}>
                                                </lightning-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
            <template if:true={dynamicDatatableFilters}>
                <div class="slds-form slds-p-around_medium container">
                    <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                        <div class="slds-text-heading_medium">Search Filters</div>
                    </div>
                    <template for:each={dynamicDatatableFilters} for:item="filter">
                        <div key={filter.filterName}>
                            <c-community-module-filter filter-field={filter} is-comp-sign={isCompSignAvailable}>
                            </c-community-module-filter>
                        </div>
                    </template>
                </div>
            </template>
            <template if:true={assetTemplateData}>
                <template for:each={assetTemplateData} for:item="templateRecord">
                    <div key={templateRecord.Id}>
                        <c-community-module-template portal-template-record={templateRecord} is-custom={isCustomBuild}>
                        </c-community-module-template>
                    </div>
                </template>
            </template>
            <template if:false={isCustomBuild}>
                <div class="slds-clearfix slds-p-bottom_medium">
                    <div class="slds-p-right_medium slds-align_absolute-center">
                        <lightning-button label="Search" onclick={submitSearch}></lightning-button>
                    </div>
                </div>
                <template if:false={portalAssetData}>
                    <template if:true={isSearchClicked}>
                        <div class="slds-form slds-p-around_medium container">
                            <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                                <div class="slds-text-heading_medium">{searchresultsLabel} Availability</div>
                            </div>
                            <div class="slds-text-color_default slds-text-align_center slds-p-around_medium">
                                <span>No matching inventory available at the moment - use Custom build.</span>
                            </div>
                        </div>
                    </template>
                </template>
                <template if:true={portalAssetData}>
                    <div class="slds-form slds-p-around_medium container">
                        <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                            <div class="slds-text-heading_medium">{searchresultsLabel} Availability</div>
                        </div>
                        <div class="slds-text-color_default slds-text-align_center slds-p-around_medium">
                            <span>Select which {searchdescriptionLabel} you are interested in by checking off one or more
                                of the checkboxes.</span>
                        </div>
                        <div class="slds-p-around_medium " style="height: 300px;">
                            <lightning-datatable class="searchresulttable  slds-table_striped" key-field="Id"
                                data={portalAssetData} columns={availableModuleColumns}
                                default-sort-direction={defaultSortDirection} sorted-direction={sortDirection}
                                sorted-by={sortedBy} onrowselection={getSelectedAssets} onsort={onHandleSort}>
                            </lightning-datatable>
                        </div>
                    </div>
                    <template if:true={isExchangeSelected}>
                        <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                            <div class="slds-text-heading_medium">Exchange</div>
                        </div>
                        <div class="slds-text-color_default slds-text-align_center slds-p-around_medium">
                            <span>Input your exchange module information below. If you would like to exchange more than
                                one module let us know in the additional info section below.</span>
                        </div>
                        <template if:true={templateAssetPartsData}>
                            <template for:each={templateAssetPartsData} for:item="templatePart">
                                <div key={templatePart.templateId}>
                                    <c-community-module-part-template portal-template-part-record={templatePart}
                                        onchange={updatePartValues}>
                                    </c-community-module-part-template>
                                </div>
                            </template>
                        </template>
                    </template>
                </template>
            </template>
            <template if:true={isCustomBuild}>
                <template if:true={isExchangeSelected}>
                    <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                        <div class="slds-text-heading_medium">Exchange</div>
                    </div>
                    <div class="slds-text-color_default slds-text-align_center slds-p-around_medium">
                        <span>Input your exchange module information below. If you would like to exchange more than one
                            module let us know in the additional info section below.</span>
                    </div>
                    <template if:true={templateAssetPartsData}>
                        <template for:each={templateAssetPartsData} for:item="templatePart">
                            <div key={templatePart.templateId}>
                                <c-community-module-part-template portal-template-part-record={templatePart}
                                    onchange={updatePartValues}>
                                </c-community-module-part-template>
                            </div>
                        </template>
                    </template>
                </template>
            </template>
            <div class="slds-form slds-p-around_medium container">
                <div class="slds-text-align_center slds-m-top_large slds-m-bottom_x-large">
                    <div class="slds-text-heading_small">Any Additional Information?</div>
                </div>
                <div>
                    <lightning-textarea name="additinfo" type="text" label="Additional Info"
                        field-level-help="Additional information or additional requests" onchange={handleAssetInput}>
                    </lightning-textarea>
                </div>
            </div>
            <div class="slds-clearfix ">
                <div class="slds-p-right_medium slds-align_absolute-center">
                    <lightning-button label="Submit" onclick={handleFinalSubmit} disabled={isSubmitButtonDisabled}>
                    </lightning-button>
                </div>
            </div>
        </div>
    </div>
</template>