/**
 * Created by Denis Karpenko on 04/05/2021.
 */
.container {
    margin-top: -25px;
}

.company-house {
    width: 210px;
    height: 80px;
}

.container_width_ch {
    width: 100%;
    min-width: 670px;
}

.modalheight{
    height:130px !important;
}