.THIS .checkboxStyle{
    width:40px;
}


.THIS textarea,
.THIS input,
.THIS select {
    margin: 0;
    vertical-align: middle;
}

.THIS .footerStyle {
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fafaf9;
    padding-bottom: 50px;
}


.THIS .table td {
    word-wrap:break-word;
    white-space: normal;
}

.THIS .resultStyle {
    vertical-align: top;
}