.THIS {
}

.THIS .cardStyle {
    background: #005fb2; 
}

.THIS .tdTextStyle{
    white-space:pre-wrap; 
    word-wrap:break-word;
    color:#000000; 
    font-size:12px; 
    text-align:center;
}

.THIS .thTextStyle{
    color:#404040;
    font-size:13px; 
    text-align:center;
}
.THIS header.slds-card__header.slds-grid{
    padding-top:0px;
}
.THIS header.slds-card__header{
    padding-top:0px;
}
.THIS .slds-card__header {
    padding: 0rem 0rem 0;
    margin: 0 0 .75rem;
}


.THIS .roundBorder{  
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 5px;
}

.THIS .headerStyle{
    color:#000000;
    font-size:13px; 
    /*font-weight: bold; */
}

.THIS .headerFieldStyle{
    color:#000000;
    font-size:13px; 
}