.THIS.summaryDataTable tr:nth-child(even){
    background-color: #c9daf8;
}
.THIS .numberClass{
    text-align: right !important;
}

.THIS .successIcon .slds-icon-text-default{
    fill:green !important;
}