.THIS.last-row-bold table tbody tr:last-child div{
    font-weight: 800; 
}

.THIS.last-row-bold table tbody tr:last-child a{
    color: #333;
} 

.THIS table{
    min-height:40px !important;
}

/*
.THIS.fixed-height{
    height: 310px;
}*/

.THIS table tr:nth-child(odd){ 
    background-color: #efefef ;
    /* #c5d5f0*/
}
/*  Define the background color for all the EVEN background rows  */
.THIS table tr:nth-child(even){
    background-color: white;
}

.THIS table tr td:last-child .slds-grid_align-end div {
    margin-right: 10px; 
}

@media screen and (max-width: 600px) {
    .THIS.fixed-height {
        height: auto;
    }
}